In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os
import json 
from pandas.io.json import json_normalize

In [2]:
raw_df_women = pd.read_csv("rawdata/womens_shoe_prices.csv", error_bad_lines=False, index_col=None)
raw_df_men = pd.read_csv("rawdata/mens_shoe_prices.csv", error_bad_lines=False, index_col=None)
raw_df = raw_df_women.append(raw_df_men)
raw_df=raw_df.reset_index(drop=True)
raw_df

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (25,36,39,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
b'Skipping line 251: expected 48 fields, saw 49\nSkipping line 444: expected 48 fields, saw 50\nSkipping line 847: expected 48 fields, saw 49\nSkipping line 848: expected 48 fields, saw 49\nSkipping line 1018: expected 48 fields, saw 49\nSkipping line 1575: expected 48 fields, saw 51\nSkipping line 2133: expected 48 fields, saw 49\nSkipping line 2922: expected 48 fields, saw 51\nSkipping line 3777: expected 48 fields, saw 51\nSkipping line 4057: expected 48 fields, saw 49\nSkipping line 4239: expected 48 fields, saw 49\nSkipping line 4240: expected 48 fields, saw 49\nSkipping line 4384: expected 48 fields, saw 49\nSkipping line 4385: expected 48 fields, saw 49\nSkipping line 5388: expected 48 fields, saw 49\nSkipping line 5480: expected 48 fields, saw 49\nSkipping line 5481: expected 48 fields, saw 49\nSkipping line 5907: expected 48 fields, saw 50\nSkipping line 5908: expected 48 fields, saw 50\nSkipping line 6600: expected 48 fields, saw 49\nSkipping line 6601: expected 48 fields, saw 49\nSkipping line 6602: expected 48 fields, saw 49\nSkipping line 6603: expected 48 fields, saw 49\nSkipping line 7227: expected 48 fields, saw 49\nSkipping line 7228: expected 48 fields, saw 49\nSkipping line 7229: expected 48 fields, saw 49\nSkipping line 7267: expected 48 fields, saw 51\nSkipping line 9025: expected 48 fields, saw 49\nSkipping line 9026: expected 48 fields, saw 49\nSkipping line 9027: expected 48 fields, saw 49\nSkipping line 9417: expected 48 fields, saw 50\nSkipping line 10815: expected 48 fields, saw 49\nSkipping line 11034: expected 48 fields, saw 50\nSkipping line 11059: expected 48 fields, saw 49\nSkipping line 11060: expected 48 fields, saw 49\nSkipping line 11339: expected 48 fields, saw 50\nSkipping line 11357: expected 48 fields, saw 49\nSkipping line 11358: expected 48 fields, saw 49\nSkipping line 11646: expected 48 fields, saw 49\nSkipping line 11647: expected 48 fields, saw 49\nSkipping line 12161: expected 48 fields, saw 50\nSkipping line 12307: expected 48 fields, saw 49\nSkipping line 12308: expected 48 fields, saw 49\nSkipping line 12614: expected 48 fields, saw 49\nSkipping line 12615: expected 48 fields, saw 49\nSkipping line 12616: expected 48 fields, saw 49\nSkipping line 12617: expected 48 fields, saw 49\nSkipping line 12618: expected 48 fields, saw 49\nSkipping line 12619: expected 48 fields, saw 49\nSkipping line 12620: expected 48 fields, saw 49\nSkipping line 12621: expected 48 fields, saw 49\nSkipping line 12622: expected 48 fields, saw 49\nSkipping line 12623: expected 48 fields, saw 49\nSkipping line 12799: expected 48 fields, saw 49\nSkipping line 14200: expected 48 fields, saw 49\nSkipping line 14595: expected 48 fields, saw 49\n'
b'Skipping line 16747: expected 48 fields, saw 49\nSkipping line 16748: expected 48 fields, saw 49\nSkipping line 16749: expected 48 fields, saw 49\nSkipping line 16750: expected 48 fields, saw 49\nSkipping line 16751: expected 48 fields, saw 49\nSkipping line 16752: expected 48 fields, saw 49\nSkipping line 16753: expected 48 fields, saw 49\nSkipping line 17318: expected 48 fields, saw 49\nSkipping line 17319: expected 48 fields, saw 49\nSkipping line 17766: expected 48 fields, saw 49\nSkipping line 17767: expected 48 fields, saw 49\nSkipping line 18000: expected 48 fields, saw 52\nSkipping line 18001: expected 48 fields, saw 52\nSkipping line 18308: expected 48 fields, saw 51\nSkipping line 19223: expected 48 fields, saw 52\nSkipping line 19224: expected 48 fields, saw 52\n'
/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20,21,25,29,30,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,ean,...,prices.warranty,quantities,reviews,sizes,skus,sourceURLs,upc,vin,websiteIDs,weight
0,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,NaN
1,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,NaN
2,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,NaN
3,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,NaN
4,NaN,Wild Pair,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,NaN,2016-11-16T12:56:36Z,2016-11-16T12:56:36Z,"[{""dateSeen"":[""2016-11-16T12:56:36Z""],""sourceU...",NaN,7.631810e+11,...,NaN,NaN,NaN,"8.5,7,7.5,8",NaN,https://www.walmart.com/ip/Wild-Pair-Colfax-Wo...,7.63181E+11,NaN,NaN,NaN
5,NaN,Wild Pair,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,NaN,2016-11-16T12:56:36Z,2016-11-16T12:56:36Z,"[{""dateSeen"":[""2016-11-16T12:56:36Z""],""sourceU...",NaN,7.631810e+11,...,NaN,NaN,NaN,"8.5,7,7.5,8",NaN,https://www.walmart.com/ip/Wild-Pair-Colfax-Wo...,7.63181E+11,NaN,NaN,NaN
6,NaN,Wild Pair,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,NaN,2016-11-16T12:56:36Z,2016-11-16T12:56:36Z,"[{""dateSeen"":[""2016-11-16T12:56:36Z""],""sourceU...",NaN,7.631810e+11,...,NaN,NaN,NaN,"8.5,7,7.5,8",NaN,https://www.walmart.com/ip/Wild-Pair-Colfax-Wo...,7.63181E+11,NaN,NaN,NaN
7,NaN,Sutton Studio,"Women's Suits & Sets,Women's Clothing,All Wome...",Pink,NaN,2016-01-02T03:16:24Z,2016-04-06T03:01:11Z,NaN,NaN,NaN,...,NaN,NaN,NaN,8,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
8,NaN,Sutton Studio,"Women's Suits & Sets,Women's Clothing,All Wome...",Pink,NaN,2016-01-02T03:16:24Z,2016-04-06T03:01:11Z,NaN,NaN,NaN,...,NaN,NaN,NaN,8,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
9,NaN,LaLeela.com,"Women's Clothing,All Women's Clothing,Clothing...",NaN,NaN,2016-03-11T09:11:01Z,2016-03-25T01:13:39Z,NaN,1 in x 1 in x 1 in,NaN,...,NaN,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
10,NaN,LaLeela.com,"Women's Clothing,All Women's Clothing,Clothing...",NaN,NaN,2016-03-11T09:11:01Z,2016-03-25T01:13:39Z,NaN,1 in x 1 in x 1 in,NaN,...,NaN,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
11,NaN,Reebok,"Shoes,Clothing,Women's Shoes,All Women's Shoes...",Pink Ribbon,NaN,2016-04-30T08:06:16Z,2016-06-21T12:44:07Z,"[{""dateSeen"":[""2016-06-21T12:44:07Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"5.5M,6.5M,7M,7.5M,8.5M,6M,11M,9M,10M,8M,9.5M,5...","[{""sourceURLs"":[""http://www.shoes.com/womens-r...",http://www.walmart.com/ip/Reebok-Skyscape-Chas...,NaN,NaN,NaN,NaN
12,NaN,Reebok,"Shoes,Clothing,Women's Shoes,All Women's Shoes...",Pink Ribbon,NaN,2016-04-30T08:06:16Z,2016-06-21T12:44:07Z,"[{""dateSeen"":[""2016-06-21T12:44:07Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"5.5M,6.5M,7M,7.5M,8.5M,6M,11M,9M,10M,8M,9.5M,5...","[{""sourceURLs"":[""http://www.shoes.com/womens-r...",http://www.walmart.com/ip/Reebok-Skyscape-Chas...,NaN,NaN,NaN,NaN
13,NaN,Reebok,"Shoes,Clothing,Women's Shoes,All Women's Shoes...",Pink Ribbon,NaN,2016-04-30T08:06:16Z,2016-06-21T12:44:07Z,"[{""dateSeen"":[""2016-06-21T12:44:07Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"5.5M,6.5M,7M,7.5M,8.5M,6M,11M,9M,10M,8M,9.5M,5...","[{""sourceURLs"":[""http://www.shoes.com/womens-r...",http://www.walmart.com/ip/Reebok-Skyscape-Chas...,NaN,NaN,NaN,NaN
14,NaN,Reebok,"Shoes,Clothing,Women's Shoes,All Women's Shoes...",Pink Ribbon,NaN,2016-04-30T08:06:16Z,2016-06-21T12:44:07Z,"[{""dateSeen"":[""2016-06-21T12:44:07Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"5.5M,6.5M,7M,7.5M,8.5M,6M,11M,9M,10M,8M,9.5M,5...","[{""sourceURLs"":[""http://www.shoes.com/womens-r...",http://www.walmart.com/ip/Reebok-Skyscape-Chas...,NaN,NaN,NaN,NaN
15,NaN,Reebok,"Shoes,Clothing,Women's Shoes,All Women's Shoes...",Pink Ribbon,NaN,2016-04-30T08:06:16Z,2016-06-21T12:44:07Z,"[{""dateSeen"":[""2016-06-21T12:44:07Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"5.5M,6.5M,7M,7.5M,8.5M,6M,11M,9M,10M,8M,9.5M,5...","[{""sourceURLs"":[""http://www.shoes.com/womens-r...",http://www.walmart.com/ip/Reebok-Skyscape-Chas...,NaN,NaN,NaN,NaN
16,NaN,Reebok,"Shoes,Clothing,Women's Shoes,All Women's Shoes...",Pink Ribbon,NaN,2016-04-30T08:06:16Z,2016-06-21T12:44:07Z,"[{""dateSeen"":[""2016-06-21T12:44:07Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"5.5M,6.5M,7M,7.5M,8.5M,6M,11M,9M,10M,8M,9.5M,5...","[{""sourceURLs"":[""http://www.shoes.com/womens-r...",http://www.walmart.com/ip/Reebok-Skyscape-Chas...,NaN,NaN,NaN,NaN
17,NaN,Reebok,"Shoes,Clothing,Women's Shoes,All Women's Shoes...",Pink Ribbon,NaN,2016-04-30T08:06:16Z,2016-06-21T12:44:07Z,"[{""dateSeen"":[""2016-06-21T12:44:07Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"5.5M,6.5M,7M,7.5M,8.5M,6M,11M,9M,10M,8M,9.5M,5...","[{""sourceURLs"":[""http://www.shoes.com/womens-r...",http://www.walmart.com/ip/Reebok-Skyscape-Chas...,NaN,NaN,NaN,NaN
18,NaN,Reebok,"Shoes,Clothing,Women's Shoes,All Women's Shoes...",Pink Ribbon,NaN,2016-04-30T08:06:16Z,2016-06-21T12:44:07Z,"[{""dateSeen"":[""2016-06-21T12:44:07Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,"5.5M,6.5M,7M,7.5M,8.5M,6M,11M,9M,10M,8M,9.5M,5...","[{""sourceURLs"":[""http://www.shoes.com/womens-r...",http://www.walmart.com/ip/Reebok-Skyscape-Chas...,NaN,NaN,NaN,NaN
19,NaN,Jessica Simpson,"Shoes,Clothing,Women's Shoes,All Women's Shoes",Beige,NaN,2017-01-27T01:20:05Z,2017-01-27T01:20:05Z,"[{""dateSeen"":[""2017-01-27T01:20:05Z""],""sourceU...",NaN,8.869240e+11,...,NaN,NaN,NaN,7,NaN,https://www.walmart.com/ip/Jessica-Simpson-Cai...,8.86924E+11,NaN,NaN,NaN
20,NaN,The Highest Heel,"Clothing,Shoes,Women's Shoes,All Women's Shoes",NaN,NaN,2016-09-24T21:52:25Z,2016-09-24T21:52:25Z,"[{""dateSeen"":[""2016-09-24T21:52:25Z""],""sourceU...",NaN,8.461370e+11,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Highest-Heel-CLASSI...,8.46137E+11,NaN,NaN,NaN
21,NaN,Qupid,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Pink,NaN,2016-11-11T09:50:47Z,2016-11-11T09:50:47Z,"[{""dateSeen"":[""2016-11-11T09:50:47Z""],""sourceU...",NaN,6.104260e+11,...,NaN,NaN,NaN,"7,6.5,7.5,9,8",NaN,https://www.walmart.com/ip/Qupid-Penelope-04-W...,6.10426E+11,NaN,NaN,NaN
22,NaN,Qupid,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Pink,NaN,2016-11-11T09:50:47Z,2016-11-11T09:50:47Z,"[{""dateSeen"":[""2016-11-11T09:50:47Z""],""sourceU...",NaN,6.104260e+11,...,NaN,NaN,NaN,"7,6.5,7.5,9,8",NaN,https://www.walmart.com/ip/Qupid-Penelope-04-W...,6.10426E+11,NaN,NaN,NaN
23,NaN,Qupid,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Pink,NaN,2016-11-11T09:50:47Z,2016-11-11T09:50:47Z,"[{""dateSeen"":[""2016-11-11T09:50:47Z""],""sourceU...",NaN,6.104260e+11,...,NaN,NaN,NaN,"7,6.5,7.5,9,8",NaN,https://www.walmart.com/ip/Qupid-Penelope-04-W...,6.10426E+11,NaN,NaN,NaN
24,NaN,Qupid,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Pink,NaN,2016-11-11T09:50:47Z,2016-11-11T09:50:47Z,"[{""dateSeen"":[""2016-11-11T09:50:47Z""],""sourceU...",NaN,6.104260e+11,...,NaN,NaN,NaN,"7,6.5,7.5,9,8",NaN,https://www.walmart.com/ip/Qupid-Penelope-04-W...,6.10426E+11,NaN,NaN,NaN
25,NaN,Alfani,"Shoes,Clothing,Women's Shoes,All Women's Shoes",NaN,NaN,2016-05-11T19:20:17Z,2016-05-11T19:39:12Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Alfani-Syssy-Women-U...,NaN,NaN,NaN,NaN
26,NaN,Alfani,"Shoes,Clothing,Women's Shoes,All Women's Shoes",NaN,NaN,2016-05-11T19:20:17Z,2016-05-11T19:39:12Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Alfani-Syssy-Women-U...,NaN,NaN,NaN,NaN
27,NaN,Alfani,"Shoes,Clothing,Women's Shoes,All Women's Shoes",NaN,NaN,2016-05-11T19:20:17Z,2016-05-11T19:39:12Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Alfani-Syssy-Women-U...,NaN,NaN,NaN,NaN
28,NaN,Me Too,"Shoes,Women's Shoes,Clothing,All Women's Shoes",NaN,NaN,2016-03-19T02:24:42Z,2016-06-06T00:23:21Z,"[{""dateSeen"":[""2016-06-06T00:23:21Z""],""sourceU...",NaN,6.482440e+11,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Me-Too-Womens-Lilyan...,6.48244E+11,NaN,NaN,NaN
29,NaN,Me Too,"Shoes,Women's Shoes,Clothing,All Women's Shoes",NaN,NaN,2016-03-19T02:24:42Z,2016-06-06T00:23:21Z,"[{""dateSeen"":[""2016-06-06T00:23:21Z""],""sourceU...",NaN,6.482440e+11,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Me-Too-Womens-Lilyan...,6.48244E+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,"B00L85S8KU,B00L85S90Y,B006CRB6E4,B00L83OYHS",Nike,"Men's Athletic Shoes,Shoes,Men's Shoes,Clothing",VoltPhoto BlueHyper Pink,NaN,2015-10-14T02:57:59Z,2017-01-09T20:23:50Z,"[{""dateSeen"":[""2017-01-09T20:23:50Z""],""sourceU...",NaN,6.596580e+11,...,NaN,NaN,NaN,"5.5,7,6,6.5,4.5",NaN,https://www.walmart.com/ip/Nike-Lebron-XI-Low-...,6.59658e+11,NaN,NaN,NaN
38331,"B00L85S8KU,B00L85S90Y,B006CRB6E4,B00L83OYHS",Nike,"Men's Athletic Shoes,Shoes,Men's Shoes,Clothing",VoltPhoto BlueHyper Pink,NaN,2015-10-14T02:57:59Z,2017-01-09T20:23:50Z,"[{""dateSeen"":[""2017-01-09T20:23:50Z""],""sourceU...",NaN,6.596580e+11,...,NaN,NaN,NaN,"5.5,7,6,6.5,4.5",NaN,https://www.walmart.com/ip/Nike-Lebron-XI-Low-...,6.59658e+11,NaN,NaN,NaN
38332,"B00L85S8KU,B00L85S90Y,B006CRB6E4,B00L83OYHS",Nike,"Men's Athletic Shoes,Shoes,Men's Shoes,Clothing",VoltPhoto BlueHyper Pink,NaN,2015-10-14T02:57:59Z,2017-01-09T20:23:50Z,"[{""dateSeen"":[""2017-01-09T20:23:50Z""],""sourceU...",NaN,6.596580e+11,...,NaN,NaN,NaN,"5.5,7,6,6.5,4.5",NaN,https://www.walmart.com/ip/Nike-Lebron-XI-Low-...,6.59658e+11,NaN,NaN,NaN
38333,"B00L85S8KU,B00L85S90Y,B006CRB6E4,B00L83OYHS",Nike,"Men's Athletic Shoes,Shoes,Men's Shoes,Clothing",VoltPhoto BlueHyper Pink,NaN,2015-10-14T02:57:59Z,2017-01-09T20:23:50Z,"[{""dateSeen"":[""2017-01-09T20:23:50Z""],""sourceU...",NaN,6.596580e+11,...,NaN,NaN,NaN,"5.5,7,6,6.5,4.5",NaN,https://www.walmart.com/ip/Nike-Lebron-XI-Low-...,6.59658e+11,NaN,NaN,NaN
38334,"B00L85S8KU,B00L85S90Y,B006CRB6E4,B00L83OYHS",Nike,"Men's Athletic Shoes,Shoes,Men's Shoes,Clothing",VoltPhoto BlueHyper Pink,NaN,2015-10-14T02:57:59Z,2017-01-09T20:23:50Z,"[{""dateSeen"":[""2017-01-09T20:23:50Z""],""sourceU...",NaN,6.596580e+11,...,NaN,NaN,NaN,"5.5,7,6,6.5,4.5",NaN,https://www.walmart.com/ip/Nike-Lebron-XI-Low-...,6.59658e+11,NaN,NaN,NaN
38335,NaN,Stacy Adams,"Clothing,Shoes,Men's Shoes,Men's Casual Shoes",NaN,NaN,2016-10-05T22:23:31Z,2016-10-05T22:23:31Z,"[{""dateSeen"":[""2016-10-05T22:23:31Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Stacy-Adams-Tremain...,NaN,NaN,NaN,NaN
38336,NaN,Stacy Adams,"Clothing,Shoes,Men's Shoes,Men's Casual Shoes",NaN,NaN,2016-10-05T22:23:31Z,2016-10-05T22:23:31Z,"[{""dateSeen"":[""2016-10-05T22:23:31Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Stacy-Adams-Tremain...,NaN,NaN,NaN,NaN
38337,B00T9JC8NA,HEAD,"Shoes & Handbags,Shoes,Men,Athletic,Tennis","WhiteGrayYellow,RedNeon Yellow,Red,BlueWhite",NaN,2015-12-02T01:04:06Z,2016-08-29T21:37:27Z,"[{""dateSeen"":[""2016-08-29T21:37:27Z""],""sourceU...",NaN,NaN,...,NaN,NaN,"[{""date"":""2015-11-30T00:00:00Z"",""dateAdded"":""2...",NaN,NaN,https://www.amazon.ca/HEAD-273215-110-Revolt-R...,NaN,NaN,NaN,1.4 Kg
38338,B00T9JC8NA,HEAD,"Shoes & Handbags,Shoes,Men,Athletic,Tennis","WhiteGrayYellow,RedNeon Yellow,Red,BlueWhite",NaN,2015-12-02T01:04:06Z,2016-08-29T21:37:27Z,"[{""dateSeen"":[""2016-08-29T21:37:27Z""],""sourceU...",NaN,NaN,...,NaN,NaN,"[{""date"":""2015-11-30T00:00:00Z"",""dateAdded"":""2...",NaN,NaN,https://www.amazon.ca/HEAD-273215-110-Revolt-R...,NaN,NaN,NaN,1.4 Kg
38339,B00T9JC8NA,HEAD,"Shoes & Handbags,Shoes,Men,Athletic,Tennis","WhiteGrayYellow,RedNeon Yellow,Red,BlueWhite",NaN,2015-12-02T01:04:06Z,2016-08-29T21:37:27Z,"[{""dateSeen"":[""2016-08-29T21:37:27Z""],""sourceU...",NaN,NaN,...,NaN,NaN,"[{""date"":""2015-11-30T00:00:00Z"",""dateAdded"":""2...",NaN,NaN,https://www.amazon.ca/HEAD-273215-110-Revolt-R...,NaN,NaN,NaN,1.4 Kg
38340,NaN,Nike,"All Men's Shoes,Shoes,Men's Shoes,Clothing",BlackMetallic SilverLaser CrimsonGrey,NaN,2017-01-27T01:23:09Z,2017-01-27T01:23:09Z,"[{""dateSeen"":[""2017-01-27T01:23:09Z""],""sourceU...",NaN,6.401355e+11,...,NaN,NaN,NaN,"10.5,10,11.5,14",NaN,https://www.walmart.com/ip/Nike-Zoom-I-Get-Buc...,6.40135e+11,NaN,NaN,NaN
38341,NaN,Justin Boots,"Men's Boots,Shoes,Clothing, Shoes & Jewelry,Me...",Tumbled Tomboni Brown,NaN,2016-01-02T02:40:15Z,2016-04-05T23:34:06Z,NaN,NaN,NaN,...,NaN,NaN,NaN,"10.5,10,8.5,7,9.5,7.5,11.5,9,8,13,14,11,12","[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
38342,NaN,Justin Boots,"Men's Boots,Shoes,Clothing, Shoes & Jewelry,Me...",Tumbled Tomboni Brown,NaN,2016-01-02T02:40:15Z,2016-04-05T23:34:06Z,NaN,NaN,NaN,...,NaN,NaN,NaN,"10.5,10,8.5,7,9.5,7.5,11.5,9,8,13,14,11,12","[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
38343,NaN,Crocs,"Clothing,Shoes,Men's Shoes,Men's Casual Shoes",Mahogany Mahogany,NaN,2017-01-27T01:33:09Z,2017-01-27T01:33:09Z,"[{""dateSeen"":[""2017-01-22T06:22:10Z""],""sourceU...",NaN,8.873502e+11,...,NaN,NaN,"[{""dateAdded"":""2017-01-27T01:33:09Z"",""dateSeen...",NaN,NaN,https://www.walmart.com/reviews/product/103747...,8.8735e+11,NaN,NaN,NaN
38344,B00PMNAXUW,Swix,"Sports,Clothing, Shoes & Jewelry,Men,Clothing,...","TangerineBlackGriffin,Griffin,AquaBlackGriffin...",NaN,2015-10-14T03:05:29Z,2016-07-18T18:54:17Z,NaN,NaN,NaN,...,NaN,NaN,NaN,"Small,Medium,Large",NaN,http://www.amazon.com/Swix-Mens-Oppdal-Softshe...,NaN,NaN,NaN,NaN
38345,NaN,Easy USA,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Multicolor,NaN,2017-01-12T06:17:38Z,2017-01-12T06:17:38Z,"[{""dateSeen"":[""2017-01-12T06:17:38Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Easy-USA-M8818-Men-...,1.25522e+11,NaN,NaN,NaN
38346,NaN,Easy USA,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Multicolor,NaN,2017-01-12T06:17:38Z,2017-01-12T06:17:38Z,"[{""dateSeen"":[""2017-01-12T06:17:38Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Easy-USA-M8818-Men-...,1.25522e+11,NaN,NaN,NaN
38347,NaN,Easy USA,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Multicolor,NaN,2017-01-12T06:17:38Z,2017-01-12T06:17:38Z,"[{""dateSeen"":[""2017-01-12T06:17:38Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Easy-USA-M8818-Men-...,1.25522e+11,NaN,NaN,NaN
38348,NaN,Easy USA,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Multicolor,NaN,2017-01-12T06:17:38Z,2017-01-12T06:17:38Z,"[{""dateSeen"":[""2017-01-12T06:17:38Z""],""sourceU...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Easy-USA-M8818-Men-...,1.25522e+11,NaN,NaN,NaN
38349,B0119D7OVE,adidas,"Clothing, Shoes & Jewelry,Men,Shoes,Athletic,R...",NaN,NaN,2016-03-26T17:58:57Z,2016-07-28T15:38:06Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.amazon.com/adidas-Performance-Gala...,NaN,NaN,NaN,NaN
38350,B0119D7OVE,adidas,"Clothing, Shoes & Jewelry,Men,Shoes,Athletic,R...",NaN,NaN,2016-03-26T17:58:57Z,2016-07-28T15:38:06Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.amazon.com/adidas-Performance-Gala...,NaN,NaN,NaN,NaN
38351,NaN,Nike,"Clothing, Shoes & Accessories,Athletic,Men's S...",Green,NaN,2016-04-30T05:17:44Z,2016-06-21T06:11:16Z,"[{""dateSeen"":[""2016-06-21T06:11:15Z""],""sourceU...",NaN,8.867374e+11,...,NaN,NaN,NaN,9.5,"[{""sourceURLs"":[""http://www.ebay.com/itm/Nike-...",http://www.ebay.com/itm/Nike-Air-Max-2013-Men-...,8.86737e+11,NaN,NaN,NaN
38352,NaN,Nike,"Clothing, Shoes & Accessories,Athletic,Men's S...",Green,NaN,2016-04-30T05:17:44Z,2016-06-21T06:11:16Z,"[{""dateSeen"":[""2016-06-21T06:11:15Z""],""sourceU...",NaN,8.867374e+11,...,NaN,NaN,NaN,9.5,"[{""sourceURLs"":[""http://www.ebay.com/itm/Nike-...",http://www.ebay.com/itm/Nike-Air-Max-2013-Men-...,8.86737e+11,NaN,NaN,NaN
38353,NaN,Roper,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Bay Brown,NaN,2017-01-12T06:13:42Z,2017-01-12T06:13:42Z,"[{""dateSeen"":[""2017-01-12T06:13:42Z""],""sourceU...",NaN,8.053037e+11,...,NaN,NaN,NaN,"8.5 W,7 W",NaN,https://www.walmart.com/ip/Roper-Performance-S...,8.05304e+11,NaN,NaN,NaN
38354,NaN,Roper,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Bay Brown,NaN,2017-01-12T06:13:42Z,2017-01-12T06:13:42Z,"[{""dateSeen"":[""2017-01-12T06:13:42Z""],""sourceU...",NaN,8.053037e+11,...,NaN,NaN,NaN,"8.5 W,7 W",NaN,https://www.walmart.com/ip/Roper-Performance-S...,8.05304e+11,NaN,NaN,NaN
38355,NaN,"Xray, XRay","Clothing, Shoes & Accessories,Men's Shoes,Boots",Black,NaN,2016-03-04T05:54:20Z,2016-03-04T05:54:20Z,NaN,NaN,6.574867e+11,...,NaN,NaN,NaN,12,"[{""sourceURLs"":[""http://www.ebay.com/itm/NEW-X...",http://www.ebay.com/itm/NEW-XRay-Hester-Mens-L...,6.57487e+11,NaN,NaN,NaN
38356,NaN,Fila,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-10-05T22:23:17Z,2016-10-05T22:23:17Z,"[{""dateSeen"":[""2016-10-05T22:23:17Z""],""sourceU...",NaN,7.894822e+11,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Fila-Men-s-Original...,7.89482e+11,NaN,NaN,NaN
38357,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,NaN,...,NaN,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
38358,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,NaN,...,NaN,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN
38359,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,NaN,...,NaN,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN

In [3]:
df = raw_df[["features","name","prices.amountMin","prices.isSale"]]
df.head()

,features,name,prices.amountMin,prices.isSale
0,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,71.99,TRUE
1,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,250,FALSE
2,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,75.99,TRUE
3,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,79.98,TRUE
4,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Wild Pair Colfax Women Peep-toe Synthetic Bro...,26.98,TRUE

In [4]:
# replace true and false with TRUE and FALSE
df["prices.isSale"] = df["prices.isSale"].map({"true":"TRUE", "false":"FALSE", "TRUE":"TRUE", "FALSE":"FALSE"})
df.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,features,name,prices.amountMin,prices.isSale
0,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,71.99,TRUE
1,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,250,FALSE
2,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,75.99,TRUE
3,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,79.98,TRUE
4,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Wild Pair Colfax Women Peep-toe Synthetic Bro...,26.98,TRUE

In [5]:
len(df)

38360

In [6]:
df = df.dropna()

In [7]:
len(df)

26065

In [8]:
df.loc[0,"name"]

'Zoot Tt Trainer 2.0   Round Toe Synthetic  Sneakers'

In [9]:
# remove non-shoe rows:
outlier_list = ['pants','jeans', 'jacket','cardigan', 'dress','shirt','romper','suit','pedicure', 'bra','underwire','wirefree','bikini','swim','lingerie','thong','slippers','pantyhose','hairpin',
              'swimsuit','swimwear','scarf','glove','leggings','eyewear','Sunglasses',"Costume",
              'dress','blazer', 'skirt','coat','top','socks','Doll','sleepwear','makeup',
              'bracelet','necklace','jewelry','diamond','band','ring','watch','Parka','lens']

for outlier in outlier_list:
    df = df[df.name.str.contains(outlier) == False]
df

,features,name,prices.amountMin,prices.isSale
0,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,71.99,TRUE
1,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,250,FALSE
2,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,75.99,TRUE
3,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,79.98,TRUE
4,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Wild Pair Colfax Women Peep-toe Synthetic Bro...,26.98,TRUE
5,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Wild Pair Colfax Women Peep-toe Synthetic Bro...,15.99,TRUE
6,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Wild Pair Colfax Women Peep-toe Synthetic Bro...,90,FALSE
7,"[{""key"":""Style"",""value"":[""Suit jackets""]},{""ke...",Sutton Studio Women's 100 Cashmere Blazer Jacket,318,FALSE
8,"[{""key"":""Style"",""value"":[""Suit jackets""]},{""ke...",Sutton Studio Women's 100 Cashmere Blazer Jacket,166.99,TRUE
9,"[{""key"":""Color"",""value"":[""Purple""]}]",Laleela.com Women Supersoft Cotton Coverup Bat...,27.98,TRUE
10,"[{""key"":""Color"",""value"":[""Purple""]}]",Laleela.com Women Supersoft Cotton Coverup Bat...,39.99,FALSE
11,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Reebok Skyscape Chase Women Us 9.5 Black Sneakers,22.99,FALSE
12,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Reebok Skyscape Chase Women Us 9.5 Black Sneakers,23.99,TRUE
13,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Reebok Skyscape Chase Women Us 9.5 Black Sneakers,19.99,TRUE
14,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Reebok Skyscape Chase Women Us 9.5 Black Sneakers,22.99,TRUE
15,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Reebok Skyscape Chase Women Us 9.5 Black Sneakers,75,FALSE
16,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Reebok Skyscape Chase Women Us 9.5 Black Sneakers,29.99,TRUE
17,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Reebok Skyscape Chase Women Us 9.5 Black Sneakers,50.99,TRUE
18,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",Reebok Skyscape Chase Women Us 9.5 Black Sneakers,64.95,FALSE
19,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",Jessica Simpson Cainn Women Round Toe Leather...,69.98,FALSE
20,"[{""key"":""Occasion"",""value"":[""Halloween""]},{""ke...",Women's Highest Heel Shoes 4 Classic Plain Pum...,45.54,FALSE
21,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Qupid Penelope 04 Open Toe Synthetic Platfo...,23.98,TRUE
22,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Qupid Penelope 04 Open Toe Synthetic Platfo...,1.99,TRUE
23,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Qupid Penelope 04 Open Toe Synthetic Platfo...,45,FALSE
24,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Qupid Penelope 04 Open Toe Synthetic Platfo...,11.99,TRUE
25,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Alfani Syssy Women Us 9 Red Mary Janes,18.99,TRUE
26,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Alfani Syssy Women Us 9 Red Mary Janes,79,FALSE
27,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",Alfani Syssy Women Us 9 Red Mary Janes,26.99,TRUE
28,"[{""key"":""Heel Height"",""value"":[""Under 2-Inches...",Me Too Womens Lilyana Leather Ballet Flat Shoe...,34.99,TRUE
29,"[{""key"":""Heel Height"",""value"":[""Under 2-Inches...",Me Too Womens Lilyana Leather Ballet Flat Shoe...,79,FALSE
...,...,...,...,...
35386,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",Faconnable Jjmas105dekure Men Moc Toe Leather...,58.99,TRUE
35387,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",Faconnable Jjmas105dekure Men Moc Toe Leather...,55.99,TRUE
35389,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",Puma Drift Cat 6 Sf Nm Men Round Toe Leather ...,86.98,TRUE
35390,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",Puma Drift Cat 6 Sf Nm Men Round Toe Leather ...,100.00,FALSE
35391,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",Kenneth Cole Ny Fresh Air Men Round Toe Leath...,148.00,FALSE
35392,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",Kenneth Cole Ny Fresh Air Men Round Toe Leath...,80.99,TRUE
35393,"[{""key"":""Sport"",""value"":[""Soccer""]},{""key"":""Co...",Nike Hypervenom Phantom Ii Ag-r Soccer Cleats ...,169.99,FALSE
35394,"[{""key"":""material"",""value"":[""Stainless Steel/S...",Bulova Men's 'sport' Quartz Stainless Steel Ca...,149.50,FALSE
35395,"[{""key"":""material"",""value"":[""Stainless Steel/S...",Bulova Men's 'sport' Quartz Stainless Steel Ca...,104.65,TRUE
35396,"[{""key"":""Gender"",""value"":[""Men""]},{""key"":""Size...",Caterpillar Men Diagnostic Hi Waterproof Boots,119.99,FALSE
35397,"[{""key"":""Style"",""value"":[""Basketball Shoes""]},...",Nike Air Jordan 6 Sport Blue Men's Basketball ...,299.95,FALSE
35398,"[{""key"":""Size"",""value"":[""Medium / 10.5 D(M) US...",New Reebok Vero Fl M6 Mid Cleats Mens 10.5 Bla...,32.95,FALSE
35399,"[{""key"":""Gender"",""value"":[""Boys""]},{""key"":""Sho...",Jordan Flight Tradition Bt Toddler's Shoes Bla...,44.95,FALSE
35402,"[{""key"":""Country of Origin - Assembly"",""value""...",Darn Tough Hiker 1/4 Sock Cushion,16.61,TRUE
35403,"[{""key"":""Country of Origin - Assembly"",""value""...",Darn Tough Hiker 1/4 Sock Cushion,17.36,FALSE
35404,"[{""key"":""Country of Origin - Assembly"",""value""...",Darn Tough Hiker 1/4 Sock Cushion,16.95,TRUE
35405,"[{""key"":""Country of Origin - Assembly"",""value""...",Darn Tough Hiker 1/4 Sock Cushion,17.29,FALSE
35406,"[{""key"":""Country of Origin - Assembly"",""value""...",Darn Tough Hiker 1/4 Sock Cushion,17.00,FALSE
35407,"[{""key"":""Country of Origin - Assembly"",""value""...",Darn Tough Hiker 1/4 Sock Cushion,16.95,FALSE
35408,"[{""key"":""Country of Origin - Assembly"",""value""...",Darn Tough Hiker 1/4 Sock Cushion,16.95,FALSE
35409,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",Gameday Boots Mens Brass Leather University of...,279.00,FALSE
35412,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",Dr. Scholl's Fenton Men Round Toe Leather Yel...,100.00,FALSE
35413,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",Dr. Scholl's Fenton Men Round Toe Leather Yel...,54.99,TRUE
35414,"[{""key"":""Material"",""value"":[""Flex-O-Thane PVC""...","Onguard Size M Plain Toe Overboots, Men's, Yel...",18.15,FALSE
35415,"[{""key"":""Material"",""value"":[""Flex-O-Thane PVC""...","Onguard Size M Plain Toe Overboots, Men's, Yel...",16.50,FALSE
35416,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",Sperry Top Sider Bahama 2-eye Men Moc Toe Can...,60.00,FALSE
35417,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",Sperry Top Sider Bahama 2-eye Men Moc Toe Can...,23.99,TRUE
35426,"[{""key"":""Sport"",""value"":[""Camping & Hiking, Cy...",Nike Golf Mens Hyperadapt Shield Wind 1/2 Zip ...,35.00,FALSE
35427,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",Sanuk Fraid So Men Us 9 Tan Flip Flop Sandal,44.00,FALSE
35428,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",Sanuk Fraid So Men Us 9 Tan Flip Flop Sandal,26.99,TRUE

In [10]:
len(df)

23727

In [11]:
# convert string to float
df["prices.amountMin"] = pd.to_numeric(df["prices.amountMin"], errors='coerce')

In [12]:
# only keep rows with min and max price for each item
df_min = df.sort_values("prices.amountMin").groupby("name", as_index=False).first()
df_max = df.sort_values("prices.amountMin", ascending=False).groupby("name", as_index=False).first()
df = df_min.append(df_max)
df = df.reset_index(drop=True)
df = df.drop_duplicates()

In [13]:
len(df)

18787

In [14]:
df.sort_values("name")

,name,features,prices.amountMin,prices.isSale
0,$125 Brand New - Nike Tiger Woods Tw Adaptive ...,"[{""key"":""Sport"",""value"":[""Leisure, Golf""]},{""k...",65.00,FALSE
1,$125 Dansko Mens Professional Box Leather Clog...,"[{""key"":""Style"",""value"":[""Nursing & Uniform""]}...",58.31,FALSE
2,$125 Dansko Professional Leather Clogs In Hick...,"[{""key"":""Heel Height"",""value"":[""Med (1 3/4 in....",55.25,TRUE
3,$125 Lauren Ralph Lauren Fully Lined Golf - Dr...,"[{""key"":""Style"",""value"":[""Golf - Dress - Pleat...",49.99,FALSE
4,$125 Lauren Ralph Lauren Lined Wool/poly Dress...,"[{""key"":""Style"",""value"":[""Dress - Pleat""]},{""k...",59.99,FALSE
5,$125 New Nike Women's Sz 6.5 Dunk Sky Hi Casua...,"[{""key"":""Style"",""value"":[""Fashion Sneakers""]},...",73.95,FALSE
12376,$125 New Nike Women's Sz 6.5 Dunk Sky Hi Casua...,"[{""key"":""Style"",""value"":[""Fashion Sneakers""]},...",87.95,FALSE
6,$125 Nwt Nautica Gray Flat Front Dress Pants T...,"[{""key"":""Style"",""value"":[""Dress - Flat Front""]...",19.99,FALSE
7,$125 Nwt Nautica Travel Wool Blend Blue Checke...,"[{""key"":""Style"",""value"":[""Dress - Pleat""]},{""k...",24.99,FALSE
8,$125 Nwt Nautica Travelwear Wool Blend Black P...,"[{""key"":""Style"",""value"":[""Dress - Pleat""]},{""k...",19.99,FALSE
9,$125 Polo Ralph Lauren Men Vest With Hood Smal...,"[{""key"":""Style"",""value"":[""Vest""]},{""key"":""Patt...",48.50,FALSE
10,$125 Polo Ralph Lauren Utility Cargo Pants Sz ...,"[{""key"":""Style"",""value"":[""Cargo""]},{""key"":""Ins...",53.99,TRUE
11,$125 Ralph Lauren Men's Beige Pleated Front 10...,"[{""key"":""Style"",""value"":[""Dress - Pleat""]},{""k...",19.99,FALSE
12,$125 Size 10 Brand New Michael Kors Fulton Har...,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",59.99,FALSE
13,$180 Nike Men's Sz 10 Air Max 90 Sneakerboot W...,"[{""key"":""Style"",""value"":[""Athletic Sneakers""]}...",119.50,FALSE
14,$185 New Via Spiga Lilac Metallic Suede Ballet...,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",53.00,FALSE
15,$200 Rock Revival Men's Jeans Rp9931a200 Teles...,"[{""key"":""Inseam"",""value"":[""34""]},{""key"":""Condi...",78.00,FALSE
12386,$200 Rock Revival Men's Jeans Rp9931a200 Teles...,"[{""key"":""Inseam"",""value"":[""34""]},{""key"":""Condi...",124.00,FALSE
16,$250 Diesel Forever White Heels Pumps Shoes 10...,"[{""key"":""Heel Height"",""value"":[""Flat""]},{""key""...",99.95,TRUE
12387,$250 Diesel Forever White Heels Pumps Shoes 10...,"[{""key"":""Heel Height"",""value"":[""Flat""]},{""key""...",250.00,FALSE
17,$295 Freebird By Steven Women's Leather Wrap S...,"[{""key"":""Style"",""value"":[""Fashion - Knee-High""...",189.00,FALSE
18,$300 Timberland Boot Company Wodehouse Chelsea...,"[{""key"":""Material"",""value"":[""Premium Full-grai...",120.00,TRUE
19,$418 Nwt Parker Womens Black Wool Leather Trim...,"[{""key"":""Style"",""value"":[""Blazer""]},{""key"":""Ma...",199.00,FALSE
20,$418 Super T Qt Mega T 31 True Religion Men Je...,"[{""key"":""Style"",""value"":[""Straight""]},{""key"":""...",178.00,FALSE
21,$428 Victoria's Secret Designer Collection Max...,"[{""key"":""Style"",""value"":[""Gowns""]},{""key"":""Pat...",69.50,FALSE
22,$450 Nwt Patagonia Fitz Roy 800 Down Jacket Pu...,"[{""key"":""Style"",""value"":[""Puffer""]},{""key"":""Ma...",185.00,FALSE
23,$450 Polo Ralph Lauren Aaric Rugged Suede Plai...,"[{""key"":""Style"",""value"":[""Moccasins""]},{""key"":...",102.41,TRUE
24,$450 Rrl Ralph Lauren Icon Ssnl Denim Distress...,"[{""key"":""Style"",""value"":[""Jean Jacket""]},{""key...",285.00,FALSE
25,(410518.1f73) Ds Mizuno Wave Prophecy 2 Red/li...,"[{""key"":""Style"",""value"":[""Athletic Sneakers""]}...",76.00,FALSE
26,(655206-416) Men's Nike Roshe One Print Racer ...,"[{""key"":""Style"",""value"":[""WALKING""]},{""key"":""C...",60.00,FALSE
...,...,...,...,...
24721,Zigi Soho Tilly Pointed Toe Canvas Flats,"[{""key"":""Heel Height"",""value"":[""0.25 Inches""]}...",70.00,FALSE
12350,Zigi Soho Tilly Pointed Toe Canvas Flats,"[{""key"":""Heel Height"",""value"":[""0.25 Inches""]}...",17.99,TRUE
24722,Zigi Soho Women's Patrizia Studded Flats,"[{""key"":""Pattern"",""value"":[""Textured""]},{""key""...",50.00,FALSE
12351,Zigi Soho Women's Patrizia Studded Flats,"[{""key"":""Pattern"",""value"":[""Textured""]},{""key""...",29.49,TRUE
12352,Zildjian T7103 Cymbals Long Sleeve Classic Bla...,"[{""key"":""Style"",""value"":[""Hoodie""]},{""key"":""Ma...",30.00,FALSE
12353,Zilverzoom Stainless Steel Wire Link Cuff Links,"[{""key"":""Metal Type"",""value"":[""Stainless steel...",17.00,TRUE
24724,Zilverzoom Stainless Steel Wire Link Cuff Links,"[{""key"":""Metal Type"",""value"":[""Stainless steel...",30.00,FALSE
12354,Zinda Sophie Pump Heels Womens Shoes Dark Gray...,"[{""key"":""Gender"",""value"":[""Women""]},{""key"":""Br...",94.50,FALSE
12355,Zombie Monster Slippers For Men L/11-12,"[{""key"":""Shoe Size"",""value"":[""L/11-12""]},{""key...",18.99,FALSE
12356,Zoot 9770 New Womens Ultra Run Pulse Gray Cont...,"[{""key"":""Style"",""value"":[""Pants, Tights, Leggi...",11.07,FALSE
24727,Zoot 9770 New Womens Ultra Run Pulse Gray Cont...,"[{""key"":""Style"",""value"":[""Pants, Tights, Leggi...",16.66,FALSE
12357,Zoot Diego Men's Run Shoe: Solar Flare/pewter/...,"[{""key"":""Assembled Product Dimensions (L x W x...",69.90,FALSE
12358,Zoot Sports Tt 7.0,"[{""key"":""Manufacturer Part Number"",""value"":[""Z...",59.95,FALSE
12359,Zoot Sports Ultra Kane 2.0,"[{""key"":""Manufacturer Part Number"",""value"":[""Z...",69.95,FALSE
12360,Zoot Tt Trainer Round Toe Synthetic Sneakers,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",39.99,TRUE
24731,Zoot Tt Trainer Round Toe Synthetic Sneakers,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",110.00,FALSE
24732,Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",250.00,FALSE
12361,Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",71.99,TRUE
12362,Zorrie Men's Slippers (12-pack),"[{""key"":""Manufacturer Part Number"",""value"":[""1...",9.18,FALSE
12363,[59 48] Polo Ralph Lauren Mens Black Siena Ple...,"[{""key"":""Style"",""value"":[""Dress - Pleat""]},{""k...",34.49,FALSE
12364,[bargain] Brooks Puredrift 2 Mens Running Shoe...,"[{""key"":""Shoe Type"",""value"":[""Mens Running""]}]",129.90,FALSE
12365,[new] Bcbg Black Co Duke Embroidered Woven Jac...,"[{""key"":""Style"",""value"":[""Basic Jacket""]},{""ke...",187.50,TRUE
24736,[new] Bcbg Black Co Duke Embroidered Woven Jac...,"[{""key"":""Style"",""value"":[""Basic Jacket""]},{""ke...",750.00,FALSE
12366,[new] Men's Pu Leather Bifold Wallet Id Busine...,"[{""key"":""Manufacturer Part Number"",""value"":[""D...",15.00,FALSE
12367,[new] Mens Leather Bifold Id Card Holder Money...,"[{""key"":""Manufacturer Part Number"",""value"":[""D...",15.00,FALSE
12368,"auburn University Tigers Messenger Bag"" New""","[{""key"":""Style"",""value"":[""Auburn Tigers""]},{""k...",24.95,FALSE
24739,"auburn University Tigers Messenger Bag"" New""","[{""key"":""Style"",""value"":[""Auburn Tigers""]},{""k...",32.59,FALSE
12369,"seville"" Rop Noriko Wig Color ☆ Maple Sugar R ...","[{""key"":""Style"",""value"":[""Full Wig""]},{""key"":""...",119.00,FALSE
12370,��� Ufc Octagon Electric Green 2.0 Training Pe...,"[{""key"":""Style"",""value"":[""Shorts""]},{""key"":""Su...",30.40,TRUE
24741,��� Ufc Octagon Electric Green 2.0 Training Pe...,"[{""key"":""Style"",""value"":[""Shorts""]},{""key"":""Su...",32.00,FALSE

In [15]:
df.loc[0,"features"]

'[{"key":"Sport","value":["Leisure, Golf"]},{"key":"Style","value":["Pants"]},{"key":"Condition","value":["New with tags"]}]'

In [16]:
# convert string to list
from ast import literal_eval
a = literal_eval(df.loc[0,"features"])
a

[{'key': 'Sport', 'value': ['Leisure, Golf']},
 {'key': 'Style', 'value': ['Pants']},
 {'key': 'Condition', 'value': ['New with tags']}]

In [17]:
for i in range(len(df)):
    try:
        df.at[i,"features"] = literal_eval(df.loc[i,"features"])
    except:
        pass

In [18]:
df.head()

,name,features,prices.amountMin,prices.isSale
0,$125 Brand New - Nike Tiger Woods Tw Adaptive ...,"[{'key': 'Sport', 'value': ['Leisure, Golf']},...",65.00,FALSE
1,$125 Dansko Mens Professional Box Leather Clog...,"[{'key': 'Style', 'value': ['Nursing & Uniform...",58.31,FALSE
2,$125 Dansko Professional Leather Clogs In Hick...,"[{'key': 'Heel Height', 'value': ['Med (1 3/4 ...",55.25,TRUE
3,$125 Lauren Ralph Lauren Fully Lined Golf - Dr...,"[{'key': 'Style', 'value': ['Golf - Dress - Pl...",49.99,FALSE
4,$125 Lauren Ralph Lauren Lined Wool/poly Dress...,"[{'key': 'Style', 'value': ['Dress - Pleat']},...",59.99,FALSE

In [19]:
df["features"].apply(pd.Series)

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,"{'key': 'Sport', 'value': ['Leisure, Golf']}","{'key': 'Style', 'value': ['Pants']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'key': 'Style', 'value': ['Nursing & Uniform']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Condition', 'value': ['Pre-owned']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'key': 'Heel Height', 'value': ['Med (1 3/4 i...","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Occasion', 'value': ['Wear to Work']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Country/Region of Manufacture', 'valu...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'key': 'Style', 'value': ['Golf - Dress - Ple...","{'key': 'Inseam', 'value': ['30']}","{'key': 'Material', 'value': ['65% Polyester -...","{'key': 'Front Style', 'value': ['Pleated fron...","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Material', 'value': ['50% Wool - 50% ...","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Country of Manufacture', 'value': ['I...","{'key': 'Color', 'value': ['Gray']}",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"{'key': 'Style', 'value': ['Fashion Sneakers']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"{'key': 'Style', 'value': ['Dress - Flat Front']}","{'key': 'Inseam', 'value': ['30']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Inseam', 'value': ['30']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Inseam', 'value': ['32']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"{'key': 'Style', 'value': ['Vest']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"{'key': 'Style', 'value': ['Cargo']}","{'key': 'Inseam', 'value': ['29']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Inseam', 'value': ['32']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"{'key': 'Heel Height', 'value': ['Low (3/4 in....","{'key': 'Style', 'value': ['Rainboots']}","{'key': 'Material', 'value': ['Rubber']}","{'key': 'Condition', 'value': ['New with box']}","{'key': 'Country of Manufacture', 'value': ['C...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"{'key': 'Style', 'value': ['Athletic Sneakers']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"{'key': 'Heel Height', 'value': ['Flat (0 to 1...","{'key': 'Style', 'value': ['Ballet Flats']}","{'key': 'Occasion', 'value': ['Casual']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"{'key': 'Inseam', 'value': ['34']}","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Style', 'value': ['Classic, Straight ...","{'key': 'Wash', 'value': ['Medium']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"{'key': 'Heel Height', 'value': ['Flat']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Gender', 'value': ['Women']}","{'key': 'Shoe Size', 'value': ['10 US']}","{'key': 'Size', 'value': ['10 US']}","{'key': 'Shoe Category', 'value': ['Women's Sh...","{'key': 'Fabric Material', 'value': ['Leather']}","{'key': 'Color', 'value': ['White']}","{'key': 'Condition', 'value': ['New']}","{'key': 'Brand', 'value': ['Diesel']}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"{'key': 'Style', 'value': ['Fashion - Knee-Hig...","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Color', 'value': ['Dark Gray']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"{'key': 'Material', 'value': ['Premium Full-gr...","{'key': 'Country/Region of Manufacture', 'valu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"{'key': 'Style', 'value': ['Blazer']}","{'key': 'Material', 'value': ['70% Wool/30% Po...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"{'key': 'Style', 'value': ['Straight']}","{'key': 'Inseam', 'value': ['32 1/2']}","{'key': 'Material', 'value': ['100% Cotton']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"{'key': 'Style', 'value': ['Gowns']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Material', 'value': ['Chiffon']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"{'key': 'Style', 'value': ['Puffer']}","{'key': 'Material', 'value': ['Down']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"{'key': 'Style', 'value': ['Moccasins']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"{'key': 'Style', 'value': ['Jean Jacket']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Country//Region of Manufacture', 'val...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"{'key': 'Style', 'value': ['Athletic Sneakers']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"{'key': 'Style', 'value': ['WALKING']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"{'key': 'Condition', 'value': ['New with box']}","{'key': 'MPN', 'value': ['R554Y-5001']}","{'key': 'Style', 'value': ['Netball']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"{'key': 'Style', 'value': ['Thongs']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Occasion', 'value': ['Everyday']}","{'key': 'Material', 'value': ['Cotton Blend']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"{'key': 'Style', 'value': ['Briefs, Hi-Cuts']}","{'key': 'Pattern', 'value': ['Polka Dot']}","{'key': 'Occasion', 'value': ['Everyday']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24684,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24686,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24687,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24688,"[{""key"":""Occasion"",""value"":[""Fashion""]},{""key""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24689,"[{""key"":""Occasion"",""value"":[""Casual""]},{""key"":...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24692,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24695,"[{""key"":""Size"",""value"":[""One-Size""]},{""key"":""F...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24696,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24697,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24701,"[{""key"":""Style"",""value"":[""Work Gloves""]},{""key...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24703,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24704,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24710,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24711,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24712,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24714,"[{""key"":""Overall Material"",""value"":[""Canvas""]}...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24716,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24717,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24718,"[{""key"":""Heel Height"",""value"":[""Med (1 3/4 in....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24719,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24720,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24721,"[{""key"":""Heel Height"",""value"":[""0.25 Inches""]}...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24722,"[{""key"":""Pattern"",""value"":[""Textured""]},{""key""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24724,"[{""key"":""Metal Type"",""value"":[""Stainless steel...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24727,"[{""key"":""Style"",""value"":[""Pants, Tights, Leggi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24731,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24732,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24736,"[{""key"":""Style"",""value"":[""Basic Jacket""]},{""ke...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24739,"[{""key"":""Style"",""value"":[""Auburn Tigers""]},{""k...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24741,"[{""key"":""Style"",""value"":[""Shorts""]},{""key"":""Su...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
type(df["features"].apply(pd.Series))

pandas.core.frame.DataFrame

In [21]:
new_df = pd.concat([df["features"].apply(pd.Series), df["name"], df["prices.amountMin"], df["prices.isSale"]], axis = 1)
new_df

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,name,prices.amountMin,prices.isSale
0,"{'key': 'Sport', 'value': ['Leisure, Golf']}","{'key': 'Style', 'value': ['Pants']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Brand New - Nike Tiger Woods Tw Adaptive ...,65.00,FALSE
1,"{'key': 'Style', 'value': ['Nursing & Uniform']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Condition', 'value': ['Pre-owned']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Dansko Mens Professional Box Leather Clog...,58.31,FALSE
2,"{'key': 'Heel Height', 'value': ['Med (1 3/4 i...","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Occasion', 'value': ['Wear to Work']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Country/Region of Manufacture', 'valu...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Dansko Professional Leather Clogs In Hick...,55.25,TRUE
3,"{'key': 'Style', 'value': ['Golf - Dress - Ple...","{'key': 'Inseam', 'value': ['30']}","{'key': 'Material', 'value': ['65% Polyester -...","{'key': 'Front Style', 'value': ['Pleated fron...","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Lauren Ralph Lauren Fully Lined Golf - Dr...,49.99,FALSE
4,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Material', 'value': ['50% Wool - 50% ...","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Country of Manufacture', 'value': ['I...","{'key': 'Color', 'value': ['Gray']}",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Lauren Ralph Lauren Lined Wool/poly Dress...,59.99,FALSE
5,"{'key': 'Style', 'value': ['Fashion Sneakers']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 New Nike Women's Sz 6.5 Dunk Sky Hi Casua...,73.95,FALSE
6,"{'key': 'Style', 'value': ['Dress - Flat Front']}","{'key': 'Inseam', 'value': ['30']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Nwt Nautica Gray Flat Front Dress Pants T...,19.99,FALSE
7,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Inseam', 'value': ['30']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Nwt Nautica Travel Wool Blend Blue Checke...,24.99,FALSE
8,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Inseam', 'value': ['32']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Nwt Nautica Travelwear Wool Blend Black P...,19.99,FALSE
9,"{'key': 'Style', 'value': ['Vest']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Polo Ralph Lauren Men Vest With Hood Smal...,48.50,FALSE
10,"{'key': 'Style', 'value': ['Cargo']}","{'key': 'Inseam', 'value': ['29']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Polo Ralph Lauren Utility Cargo Pants Sz ...,53.99,TRUE
11,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Inseam', 'value': ['32']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Ralph Lauren Men's Beige Pleated Front 10...,19.99,FALSE
12,"{'key': 'Heel Height', 'value': ['Low (3/4 in....","{'key': 'Style', 'value': ['Rainboots']}","{'key': 'Material', 'value': ['Rubber']}","{'key': 'Condition', 'value': ['New with box']}","{'key': 'Country of Manufacture', 'value': ['C...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$125 Size 10 Brand New Michael Kors Fulton Har...,59.99,FALSE
13,"{'key': 'Style', 'value': ['Athletic Sneakers']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$180 Nike Men's Sz 10 Air Max 90 Sneakerboot W...,119.50,FALSE
14,"{'key': 'Heel Height', 'value': ['Flat (0 to 1...","{'key': 'Style', 'value': ['Ballet Flats']}","{'key': 'Occasion', 'value': ['Casual']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$185 New Via Spiga Lilac Metallic Suede Ballet...,53.00,FALSE
15,"{'key': 'Inseam', 'value': ['34']}","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Style', 'value': ['Classic, Straight ...","{'key': 'Wash', 'value': ['Medium']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$200 Rock Revival Men's Jeans Rp9931a200 Teles...,78.00,FALSE
16,"{'key': 'Heel Height', 'value': ['Flat']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Gender', 'value': ['Women']}","{'key': 'Shoe Size', 'value': ['10 US']}","{'key': 'Size', 'value': ['10 US']}","{'key': 'Shoe Category', 'value': ['Women's Sh...","{'key': 'Fabric Material', 'value': ['Leather']}","{'key': 'Color', 'value': ['White']}","{'key': 'Condition', 'value': ['New']}","{'key': 'Brand', 'value': ['Diesel']}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$250 Diesel Forever White Heels Pumps Shoes 10...,99.95,TRUE
17,"{'key': 'Style', 'value': ['Fashion - Knee-Hig...","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Color', 'value': ['Dark Gray']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$295 Freebird By Steven Women's Leather Wrap S...,189.00,FALSE
18,"{'key': 'Material', 'value': ['Premium Full-gr...","{'key': 'Country/Region of Manufacture', 'valu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$300 Timberland Boot Company Wodehouse Chelsea...,120.00,TRUE
19,"{'key': 'Style', 'value': ['Blazer']}","{'key': 'Material', 'value': ['70% Wool/30% Po...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$418 Nwt Parker Womens Black Wool Leather Trim...,199.00,FALSE
20,"{'key': 'Style', 'value': ['Straight']}","{'key': 'Inseam', 'value': ['32 1/2']}","{'key': 'Material', 'value': ['100% Cotton']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$418 Super T Qt Mega T 31 True Religion Men Je...,178.00,FALSE
21,"{'key': 'Style', 'value': ['Gowns']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Material', 'value': ['Chiffon']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$428 Victoria's Secret Designer Collection Max...,69.50,FALSE
22,"{'key': 'Style', 'value': ['Puffer']}","{'key': 'Material', 'value': ['Down']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$450 Nwt Patagonia Fitz Roy 800 Down Jacket Pu...,185.00,FALSE
23,"{'key': 'Style', 'value': ['Moccasins']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$450 Polo Ralph Lauren Aaric Rugged Suede Plai...,102.41,TRUE
24,"{'key': 'Style', 'value': ['Jean Jacket']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Country//Region of Manufacture', 'val...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$450 Rrl Ralph Lauren Icon Ssnl Denim Distress...,285.00,FALSE
25,"{'key': 'Style', 'value': ['Athletic Sneakers']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(410518.1f73) Ds Mizuno Wave Prophecy 2 Red/li...,76.00,FALSE
26,"{'key': 'Style', 'value': ['WALKING']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(655206-416) Men's Nike Roshe One Print Racer ...,60.00,FALSE
27,"{'key': 'Condition', 'value': ['New with box']}","{'key': 'MPN', 'value': ['R554Y-5001']}","{'key': 'Style', 'value': ['Netball']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* New * Asics Gel Pivot 10 Womens Netball Shoe...,114.50,FALSE
28,"{'key': 'Style', 'value': ['Thongs']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Occasion', 'value': ['Everyday']}","{'key': 'Material', 'value': ['Cotton Blend']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,**just In**nwt~lane Bryant Cacique Plus Black ...,9.85,TRUE
29,"{'key': 'Style', 'value': ['Briefs, Hi-Cuts']}","{'key': 'Pattern', 'value': ['Polka Dot']}","{'key': 'Occasion', 'value': ['Everyday']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,**new**nwt~lane Bryant Cacique Coral Tiny Dots...,10.95,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24684,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Xoxo Winifred Women Us 8 Black Sandals Uk 5.5 ...,59.00,FALSE
24686,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Xoxo Women's Sunday Perforated Wedge Sandal,59.00,FALSE
24687,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Xoxo Women's Troy Ankle-high Leather Sandal,27.33,FALSE
24688,"[{""key"":""Occasion"",""value"":[""Fashion""]},{""key""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Xoxo Women's Troy Bone Ankle-high Leather Sand...,27.33,FALSE
24689,"[{""key"":""Occasion"",""value"":[""Casual""]},{""key"":...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Xtaren Kr700305cdp3 Floral Midi Tulle Skirt Ju...,39.99,FALSE
24692,"[{""key"":""Material"",""value"":[""Leather""]},{""key""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y-3 Honja Low Men Round Toe Leather Sneakers,280.00,FALSE
24695,"[{""key"":""Size"",""value"":[""One-Size""]},{""key"":""F...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yelete Gustav Klimt Woman In Gold Fine Art Por...,19.99,FALSE
24696,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yellow Box Balendin Women Moc Toe Suede Boot,139.00,FALSE
24697,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yellow Box Dacey Open Toe Synthetic Thong S...,70.00,FALSE
24701,"[{""key"":""Style"",""value"":[""Work Gloves""]},{""key...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yellow Mechanic Utility Work High Dexterity Li...,15.16,FALSE
24703,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yoki Sheila-05 Women Open Toe Synthetic Thon...,13.00,FALSE
24704,"[{""key"":""Heel Height"",""value"":[""Flat (0 to 1/2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yosi Samra Samra Round Toe Synthetic Ballet...,275.00,FALSE
24710,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yuu Elsy Women Round Toe Canvas Brown Winter ...,120.00,FALSE
24711,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yuu Gail Women Round Toe Synthetic Flats,60.00,FALSE
24712,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yves Saint Laurent Woodstock Women Open Toe L...,720.00,FALSE
24714,"[{""key"":""Overall Material"",""value"":[""Canvas""]}...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zeckos Denim Splatter Paint Rugged Studded Bac...,59.99,FALSE
24716,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zee Alexis Peyton Open-toe Canvas Slingback...,56.00,FALSE
24717,"[{""key"":""Heel Height"",""value"":[""Low (3/4 in. t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zigi Soho Advice Open Toe Canvas Thong Sandal,50.00,FALSE
24718,"[{""key"":""Heel Height"",""value"":[""Med (1 3/4 in....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zigi Soho Dasher Women Round Toe Synthetic Br...,100.00,FALSE
24719,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zigi Soho Duran Women Peep-toe Canvas Black H...,99.00,FALSE
24720,"[{""key"":""Heel Height"",""value"":[""High (3 in. an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zigi Soho Silvy Women Open Toe Suede Platfor...,80.00,FALSE
24721,"[{""key"":""Heel Height"",""value"":[""0.25 Inches""]}...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zigi Soho Tilly Pointed Toe Canvas Flats,70.00,FALSE
24722,"[{""key"":""Pattern"",""value"":[""Textured""]},{""key""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zigi Soho Women's Patrizia Studded Flats,50.00,FALSE
24724,"[{""key"":""Metal Type"",""value"":[""Stainless steel...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zilverzoom Stainless Steel Wire Link Cuff Links,30.00,FALSE
24727,"[{""key"":""Style"",""value"":[""Pants, Tights, Leggi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zoot 9770 New Womens Ultra Run Pulse Gray Cont...,16.66,FALSE
24731,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zoot Tt Trainer Round Toe Synthetic Sneakers,110.00,FALSE
24732,"[{""key"":""Season"",""value"":[""All-Season""]},{""key...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,250.00,FALSE
24736,"[{""key"":""Style"",""value"":[""Basic Jacket""]},{""ke...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[new] Bcbg Black Co Duke Embroidered Woven Jac...,750.00,FALSE
24739,"[{""key"":""Style"",""value"":[""Auburn Tigers""]},{""k...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"auburn University Tigers Messenger Bag"" New""",32.59,FALSE
24741,"[{""key"":""Style"",""value"":[""Shorts""]},{""key"":""Su...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,��� Ufc Octagon Electric Green 2.0 Training Pe...,32.00,FALSE

In [22]:
type(new_df.loc[0,0])

dict

In [23]:
features_and_counts = {}
# list of keys:
for i in range(len(df)):
    for j in range(30):
        if type(new_df.iloc[i,j])== dict:
            key = new_df.iloc[i,j]["key"]
            value = new_df.iloc[i,j]["value"]
            if key not in list(features_and_counts.keys()):
                features_and_counts.update({key:1})
            else:
                features_and_counts[key] += 1
features_and_counts

{'Sport': 764,
 'Style': 2680,
 'Condition': 2458,
 'Material': 8488,
 'Heel Height': 4193,
 'Pattern': 637,
 'Occasion': 1763,
 'Country/Region of Manufacture': 759,
 'Inseam': 261,
 'Front Style': 11,
 'Country of Manufacture': 36,
 'Color': 10363,
 'Wash': 98,
 'Gender': 11394,
 'Shoe Size': 5468,
 'Size': 4831,
 'Shoe Category': 5694,
 'Fabric Material': 1184,
 'Brand': 11243,
 'Country//Region of Manufacture': 22,
 'MPN': 92,
 'Age Group': 7139,
 'Shipping Weight (in pounds)': 834,
 'Casual & Dress Shoe Style': 4170,
 'manufacturer_part_number': 532,
 'Assembled Product Dimensions (L x W x H)': 1705,
 'Model': 6034,
 'EAN': 166,
 'Colour': 36,
 'Shoe Width': 5061,
 'Is Waterproof': 141,
 'Fabric Content': 1176,
 'Shoe Closure': 1138,
 'Manufacturer Part Number': 8121,
 'Features': 215,
 'Water-Resistant': 36,
 'Crown': 9,
 'Display': 106,
 'Case Diameter': 48,
 'Movement': 67,
 'Band Material': 73,
 'Place of Origin': 6,
 'Case Thickness': 30,
 'Number of Stones': 1,
 'Dial Color': 44,
 'Case Material': 32,
 'Age': 76,
 'Band Length': 22,
 'Shape': 46,
 'Crystal': 22,
 'Fastener': 28,
 'Dial Markers': 13,
 'Date': 37,
 'Band Width': 24,
 'material': 87,
 'Theme': 44,
 'Length': 106,
 'Hair Type': 7,
 'Texture': 5,
 'Type': 463,
 'Toe': 98,
 'Upper Material': 287,
 'Comfort Technology': 164,
 'Juniors Shoe': 193,
 'Technician': 1,
 'Mechanic': 1,
 'Tactical': 1,
 'Auto': 1,
 'Support Type': 30,
 'Rise': 83,
 'Look': 3,
 'Decade': 2,
 'Boxed-product Dimensions': 2,
 'Attachment': 7,
 'Sleeve Length': 102,
 'Domestic Shipping': 1,
 'Number of Items': 39,
 'Best Sellers Rank': 1,
 'Date First Available': 1,
 'International Shipping': 1,
 'Manufacturer': 148,
 'Product Type': 2,
 'Clothing Size': 265,
 'Jacket Length': 6,
 'Lined': 31,
 'Color/Finish Family': 15,
 'Closure': 81,
 'Wind Resistant': 15,
 'Fabric Type': 15,
 'Removable Liner': 7,
 'Hooded': 7,
 'Removable Hood': 7,
 'Flame Resistant': 15,
 'High Visibility (ANSI Compliant)': 15,
 'Insulated': 7,
 'Water Resistant': 15,
 'Number of Pockets': 15,
 'UL Safety Listing': 15,
 'Enhanced Visibility (Reflective)': 15,
 'Resizable': 27,
 'Alarm': 17,
 'Power Reserve': 2,
 'Adjustable': 32,
 'Case Back': 2,
 'Chronograph': 36,
 'Bezel': 15,
 'Hands': 2,
 'Dial Material': 5,
 'Compass': 4,
 'Sub Type': 6,
 'Material Type': 8,
 'Skirt Length': 18,
 'Season': 677,
 'Feature': 16,
 'Recommended Location': 52,
 'Country of Origin - Assembly': 413,
 'Country of Origin - Components': 439,
 'Country of Origin Components:': 19,
 'Fit': 71,
 'Waist Size': 3,
 'Fabric Care': 6,
 'Leg': 119,
 'Main Color': 65,
 'Country Of Origin': 4,
 'Date first available at Amazon.ca': 24,
 'amazonBestSellersRank': 9,
 'Authenticity': 8,
 'Product #': 2,
 'Product ID': 3,
 'Lining': 5,
 'Main Colour': 8,
 'Shipping Weight': 10,
 'Name': 4,
 '100% ADIDAS AUTHENTIC': 1,
 'SKU Number': 1,
 'Clothing Size Type': 14,
 'Designer': 200,
 'Assembled Product Weight': 228,
 'Vehicle Type': 17,
 'Battery Type': 195,
 'Product in Inches (L x W x H)': 217,
 'Age Start': 3,
 'Multi Pack Indicator': 196,
 'Age End': 3,
 'Origin of Components': 242,
 'Age Range': 22,
 'Character': 54,
 'Assembled in Country of Origin': 229,
 'Fabric': 3,
 'Model No.': 227,
 'Licensed': 2,
 'Walmart No.': 207,
 'Shade': 38,
 'Fastening': 32,
 'Heel Type': 28,
 'Sports League': 96,
 'Sports Team': 124,
 'Waist Fits': 33,
 'Interior Pockets': 1,
 'Primary Shelf ID': 67,
 'Terrain': 3,
 'Bra Strap': 15,
 'Part Number': 9,
 'Manufacturer reference': 17,
 'Usage': 10,
 'Finish': 41,
 'Width': 48,
 'Height': 17,
 'Count': 16,
 'Material Composition': 25,
 'Shape & Drape': 19,
 'Audience': 16,
 'Color Family': 4,
 'Series Name': 16,
 'Warranty': 4,
 'Series': 2,
 'Item code': 2,
 'Internal code': 2,
 'Watch Power Source': 55,
 'Band Color': 52,
 'Primary Color': 193,
 'Color Mapping': 11,
 'Shaft Height': 98,
 'Shoe Type': 10,
 'Sub Style': 10,
 'Fabrication': 131,
 'Variant Group ID': 66,
 'Waist': 61,
 'Serial Number': 1,
 'Frame Material': 27,
 'Country////Region of Manufacture': 4,
 'Frame Color': 10,
 'Most Suitable For': 1,
 'Bottom Type': 8,
 'Bra Type': 6,
 'Weight': 16,
 'Legging Length': 5,
 'Pet Size': 1,
 'gender': 8,
 'Grade': 8,
 'Hazard Risk Category': 8,
 'Overall Material': 10,
 'Kids Backpacks': 3,
 'Clothing Category': 14,
 'Stock No.': 2,
 'Dimensions': 30,
 'Fine or Fashion': 8,
 'Trends': 17,
 'Is Water-Resistant': 55,
 'Front': 17,
 'Extended Calf': 74,
 'Cup Size': 1,
 'Stone Type': 33,
 'Date first available at Amazon.co.uk': 5,
 'Hunting': 11,
 'Batteries Included?': 57,
 'Manufacturer SKU': 3,
 'Numeric Display': 3,
 'Animal Type': 2,
 'Smart Watch': 2,
 'Watch Case Shape': 11,
 'Watch Band Material': 14,
 'Gemstone Type': 10,
 'Metal Type': 39,
 'Watch Style': 6,
 'Display Technology': 7,
 'Contains Batteries': 4,
 'Is Weather-Resistant': 7,
 'Power Type': 4,
 'Shipping Information': 2,
 'Size/Dimensions': 18,
 'Set Items': 2,
 'Item Spec Attr - Style (eBay)': 2,
 'Lens Technology': 8,
 'Style:': 4,
 'Case Type:': 4,
 'Lens material:': 4,
 'Eye Size:': 4,
 'Bridge/Temple Size:': 4,
 'Temple Size:': 4,
 'Frame material:': 4,
 'Bridge Size:': 4,
 'Looks best on these face shapes:': 4,
 'ISBN': 20,
 'Batteries Required?': 7,
 'Item Package Quantity': 10,
 'Form': 2,
 'Type of Cleaner': 2,
 'Protection': 9,
 'Lens Color': 5,
 'Neck Style': 1,
 'Product Features': 1,
 'Worldstock Country': 4,
 'Model Number': 22,
 'Collar': 1,
 'Care Instruction': 3,
 'Dress Length': 3,
 'Sleeve-length': 4,
 'SKU': 11,
 'Profession': 8,
 'Insulation': 15,
 'Toe Type': 16,
 'Waterproof': 17,
 'Safety Feature': 11,
 'Is Orthopedic': 46,
 'Nickel free': 3,
 'Contains Cubic Zirconia': 2,
 'Chain Included': 2,
 'Necklace Type': 22,
 'Chain/Necklace Length (in.)': 2,
 'Disclosures': 4,
 'Metal Color': 24,
 'Sock Style': 9,
 'Sock Size': 21,
 'Hat Style': 2,
 'Country/region Of Manufacture': 2,
 'Colours': 2,
 'Exact Material': 2,
 'Package': 2,
 'Applicable': 2,
 'Garment Care': 9,
 'Band Manufacturer': 1,
 'Fits Styles': 1,
 'Global Composite Sports Type': 9,
 'Metal Stamp': 2,
 'Number of Pieces': 5,
 'Slip Resistant': 4,
 'closure': 6,
 'Frame Shape': 5,
 'Bridge': 4,
 'Face Shape': 4,
 'Arm': 4,
 'Lens': 4,
 'Hairstyle': 4,
 'Ring Style': 2,
 'Bed Size': 3,
 'Year': 1,
 'Shoe Height': 15,
 'Light Weight': 15,
 'Stability': 11,
 'Motion Control': 13,
 'Pronation': 13,
 'Foot Arch': 9,
 'Cushioning': 13,
 'Item Width': 3,
 'upc': 2,
 'brand': 2,
 'mpn': 2,
 'Outer Material': 3,
 'Special Features': 8,
 'Materials': 1,
 'Closure Type': 6,
 'Total Length': 4,
 'Pattern or Design': 6,
 'Season or Holiday': 1,
 'Polarized Lenses': 105,
 'Design': 8,
 'Diamond Carat Weight': 26,
 'Stone Color': 26,
 'Birthstone Month': 26,
 'Diamond Clarity': 27,
 'Stone Shape': 26,
 'Gold Karat': 21,
 'Diamond Color': 27,
 'Erotic?': 2,
 'Support': 2,
 'engine': 2,
 'fuel': 2,
 'transmission': 2,
 'trim': 2,
 'yearBuilt': 2,
 'mileage': 2,
 'Container Type': 3,
 'Color Category': 2,
 'Capacity': 2,
 'Neckline': 3,
 'Frame Style': 11,
 'Light Transmission (VLT)': 1,
 'Mirrored': 1,
 'Fits Model': 1,
 'Casing': 2,
 'Case Tone': 2,
 'Catalog': 4,
 'Diameter': 4,
 'Case Type': 2,
 'Band Length (in.)': 4,
 'Subdial': 2,
 'Band Type': 4,
 'Jewelry Setting': 2,
 'Shelf Description': 1,
 'Pant Style': 3,
 'Band Style': 2,
 'Suitable For': 5,
 'Sleeve Style': 4,
 'Style Name': 4,
 'MPN#': 1,
 'Sleeve': 10,
 'Coverage': 1,
 'Cap Construction': 1,
 '����������������': 1,
 'Материал': 1,
 'Instrument': 1,
 'Self Material': 2,
 'Top Type': 2,
 'Fiber': 2,
 'Fits brands': 2,
 'Used With Equipment Type': 2,
 'Part Type': 2,
 'Fits models': 2,
 'Seller Inventory Number': 1,
 'Defects': 1,
 'Actual Style': 1,
 'Is Wheeled': 2,
 'Number of Wheels': 2,
 'Fastener Type': 2,
 'Carats': 2,
 'Clasp Type': 2,
 'Chain Length': 2,
 'Bracelet Style': 2,
 'Manufacturer recommended age': 4,
 'Style Number': 3,
 'Inv': 1,
 'Boot Height': 7,
 'Lining Material': 1,
 'CM': 1,
 'EURO SIZE': 1,
 'Thick, Warm, Cozy': 1,
 'Airport Friendly': 1,
 'To Fit': 2,
 'Shirt Size': 1,
 'Sole': 5,
 'Black': 2,
 'Manufacturer Number': 3,
 'Team': 2,
 'Ground': 1,
 'Material Type(s)': 2,
 'Fabric Care Instructions': 3,
 'SKU#': 3,
 'Lens Material': 3,
 'spikes type': 2,
 'golf shoe type': 2,
 'Sub-Type': 1,
 'Side Pocket (approx)': 1,
 'Front Pocket (approx)': 1,
 'Suitable Groups': 1,
 'ADIDAS': 1,
 'Autographed': 1,
 'Has Expiration': 1,
 'Full Colorway': 1,
 'Frye': 1,
 'Polarised': 1,
 'Characteristics': 1,
 'Frame Type': 1,
 'Lens Width': 1,
 'Retail Price': 2,
 'waterproof': 1,
 'MSRP': 2,
 'Nike Product #': 1,
 'Style #': 1,
 'Lining:': 1,
 'Bra:': 1,
 'Look Through Color': 2,
 'Light Transmission': 2,
 'Front  Side Color': 1,
 'Impact Resistant': 3,
 'Shipping to USA': 1,
 'Polarized': 2,
 'Lens Socket Width': 2,
 'Vertical': 1,
 'Quantity in Set': 1,
 'Item Type': 1,
 'Stylenumber': 3,
 'FIT': 1,
 'Box': 2,
 'Add as favorite Added as favoriteRemove from favoritesPassionate about this charity? Add it to your favorites to help them when you buy and sell on eBay.': 1,
 'Release': 1,
 'Nike Id': 1,
 'Year Made': 2,
 'Accessory Type': 1,
 'Type 2': 2,
 'Watch Shape': 1,
 'Face Color': 1,
 'Padding': 1,
 'Unit Quantity': 1,
 'Unit Type': 1,
 'Accessory': 1,
 'Fuel Type': 1,
 'Compatible Devices': 1,
 'Item color': 1,
 'Shoe Fastening Type': 1,
 'WIDTH': 1,
 'Fit:': 2,
 'Military Style': 1,
 'Hips': 1,
 'What Includes': 1,
 'Location - Country': 1,
 'Item weight': 1,
 'Item weight unit of measure': 1,
 'Location - City/State': 1,
 'Work Shoes': 1,
 'Wheeled': 2,
 'Genre': 1,
 'CUSTOMER FEEDBACK': 1,
 'Exact material': 1,
 'Exact Heel Height': 1,
 'Country of Origin Assembly:': 2,
 'Athlete': 1,
 'Trend': 1,
 'Heart Rate Monitor': 3,
 'Parts': 1,
 'Digital Camera': 3,
 'Labor': 1,
 'GPS': 3,
 'Jacket Detail': 1,
 'Material Detail-1': 1,
 'Overall Condition': 1,
 'Contained Battery Type': 1,
 'Full Product Manual': 1,
 'Safety Features': 1,
 'Certifications and Listings': 1,
 'Footwear Type': 1,
 'Clothing Product Type': 1,
 'Has 3D Capabilities': 1,
 'Pocket': 1,
 'Type of Sole': 1,
 'International shipping?': 1,
 'Stock': 1,
 'Construction': 1,
 'Temple Length': 1,
 'Front Side Color': 1,
 'atpv arc rating': 1,
 'Is Lined': 1,
 'Net Weight': 2,
 'Package Content': 1,
 'Hip Girth': 1}

In [24]:
import operator
sorted_features_and_counts = sorted(features_and_counts.items(), key=operator.itemgetter(1),reverse=True)
sorted_features_and_counts

[('Gender', 11394),
 ('Brand', 11243),
 ('Color', 10363),
 ('Material', 8488),
 ('Manufacturer Part Number', 8121),
 ('Age Group', 7139),
 ('Model', 6034),
 ('Shoe Category', 5694),
 ('Shoe Size', 5468),
 ('Shoe Width', 5061),
 ('Size', 4831),
 ('Heel Height', 4193),
 ('Casual & Dress Shoe Style', 4170),
 ('Style', 2680),
 ('Condition', 2458),
 ('Occasion', 1763),
 ('Assembled Product Dimensions (L x W x H)', 1705),
 ('Fabric Material', 1184),
 ('Fabric Content', 1176),
 ('Shoe Closure', 1138),
 ('Shipping Weight (in pounds)', 834),
 ('Sport', 764),
 ('Country/Region of Manufacture', 759),
 ('Season', 677),
 ('Pattern', 637),
 ('manufacturer_part_number', 532),
 ('Type', 463),
 ('Country of Origin - Components', 439),
 ('Country of Origin - Assembly', 413),
 ('Upper Material', 287),
 ('Clothing Size', 265),
 ('Inseam', 261),
 ('Origin of Components', 242),
 ('Assembled in Country of Origin', 229),
 ('Assembled Product Weight', 228),
 ('Model No.', 227),
 ('Product in Inches (L x W x H)', 217),
 ('Features', 215),
 ('Walmart No.', 207),
 ('Designer', 200),
 ('Multi Pack Indicator', 196),
 ('Battery Type', 195),
 ('Juniors Shoe', 193),
 ('Primary Color', 193),
 ('EAN', 166),
 ('Comfort Technology', 164),
 ('Manufacturer', 148),
 ('Is Waterproof', 141),
 ('Fabrication', 131),
 ('Sports Team', 124),
 ('Leg', 119),
 ('Display', 106),
 ('Length', 106),
 ('Polarized Lenses', 105),
 ('Sleeve Length', 102),
 ('Wash', 98),
 ('Toe', 98),
 ('Shaft Height', 98),
 ('Sports League', 96),
 ('MPN', 92),
 ('material', 87),
 ('Rise', 83),
 ('Closure', 81),
 ('Age', 76),
 ('Extended Calf', 74),
 ('Band Material', 73),
 ('Fit', 71),
 ('Movement', 67),
 ('Primary Shelf ID', 67),
 ('Variant Group ID', 66),
 ('Main Color', 65),
 ('Waist', 61),
 ('Batteries Included?', 57),
 ('Watch Power Source', 55),
 ('Is Water-Resistant', 55),
 ('Character', 54),
 ('Recommended Location', 52),
 ('Band Color', 52),
 ('Case Diameter', 48),
 ('Width', 48),
 ('Shape', 46),
 ('Is Orthopedic', 46),
 ('Dial Color', 44),
 ('Theme', 44),
 ('Finish', 41),
 ('Number of Items', 39),
 ('Metal Type', 39),
 ('Shade', 38),
 ('Date', 37),
 ('Country of Manufacture', 36),
 ('Colour', 36),
 ('Water-Resistant', 36),
 ('Chronograph', 36),
 ('Waist Fits', 33),
 ('Stone Type', 33),
 ('Case Material', 32),
 ('Adjustable', 32),
 ('Fastening', 32),
 ('Lined', 31),
 ('Case Thickness', 30),
 ('Support Type', 30),
 ('Dimensions', 30),
 ('Fastener', 28),
 ('Heel Type', 28),
 ('Resizable', 27),
 ('Frame Material', 27),
 ('Diamond Clarity', 27),
 ('Diamond Color', 27),
 ('Diamond Carat Weight', 26),
 ('Stone Color', 26),
 ('Birthstone Month', 26),
 ('Stone Shape', 26),
 ('Material Composition', 25),
 ('Band Width', 24),
 ('Date first available at Amazon.ca', 24),
 ('Metal Color', 24),
 ('Country//Region of Manufacture', 22),
 ('Band Length', 22),
 ('Crystal', 22),
 ('Age Range', 22),
 ('Model Number', 22),
 ('Necklace Type', 22),
 ('Sock Size', 21),
 ('Gold Karat', 21),
 ('ISBN', 20),
 ('Country of Origin Components:', 19),
 ('Shape & Drape', 19),
 ('Skirt Length', 18),
 ('Size/Dimensions', 18),
 ('Alarm', 17),
 ('Vehicle Type', 17),
 ('Manufacturer reference', 17),
 ('Height', 17),
 ('Trends', 17),
 ('Front', 17),
 ('Waterproof', 17),
 ('Feature', 16),
 ('Count', 16),
 ('Audience', 16),
 ('Series Name', 16),
 ('Weight', 16),
 ('Toe Type', 16),
 ('Color/Finish Family', 15),
 ('Wind Resistant', 15),
 ('Fabric Type', 15),
 ('Flame Resistant', 15),
 ('High Visibility (ANSI Compliant)', 15),
 ('Water Resistant', 15),
 ('Number of Pockets', 15),
 ('UL Safety Listing', 15),
 ('Enhanced Visibility (Reflective)', 15),
 ('Bezel', 15),
 ('Bra Strap', 15),
 ('Insulation', 15),
 ('Shoe Height', 15),
 ('Light Weight', 15),
 ('Clothing Size Type', 14),
 ('Clothing Category', 14),
 ('Watch Band Material', 14),
 ('Dial Markers', 13),
 ('Motion Control', 13),
 ('Pronation', 13),
 ('Cushioning', 13),
 ('Front Style', 11),
 ('Color Mapping', 11),
 ('Hunting', 11),
 ('Watch Case Shape', 11),
 ('SKU', 11),
 ('Safety Feature', 11),
 ('Stability', 11),
 ('Frame Style', 11),
 ('Shipping Weight', 10),
 ('Usage', 10),
 ('Shoe Type', 10),
 ('Sub Style', 10),
 ('Frame Color', 10),
 ('Overall Material', 10),
 ('Gemstone Type', 10),
 ('Item Package Quantity', 10),
 ('Sleeve', 10),
 ('Crown', 9),
 ('amazonBestSellersRank', 9),
 ('Part Number', 9),
 ('Protection', 9),
 ('Sock Style', 9),
 ('Garment Care', 9),
 ('Global Composite Sports Type', 9),
 ('Foot Arch', 9),
 ('Material Type', 8),
 ('Authenticity', 8),
 ('Main Colour', 8),
 ('Bottom Type', 8),
 ('gender', 8),
 ('Grade', 8),
 ('Hazard Risk Category', 8),
 ('Fine or Fashion', 8),
 ('Lens Technology', 8),
 ('Profession', 8),
 ('Special Features', 8),
 ('Design', 8),
 ('Hair Type', 7),
 ('Attachment', 7),
 ('Removable Liner', 7),
 ('Hooded', 7),
 ('Removable Hood', 7),
 ('Insulated', 7),
 ('Display Technology', 7),
 ('Is Weather-Resistant', 7),
 ('Batteries Required?', 7),
 ('Boot Height', 7),
 ('Place of Origin', 6),
 ('Jacket Length', 6),
 ('Sub Type', 6),
 ('Fabric Care', 6),
 ('Bra Type', 6),
 ('Watch Style', 6),
 ('closure', 6),
 ('Closure Type', 6),
 ('Pattern or Design', 6),
 ('Texture', 5),
 ('Dial Material', 5),
 ('Lining', 5),
 ('Legging Length', 5),
 ('Date first available at Amazon.co.uk', 5),
 ('Lens Color', 5),
 ('Number of Pieces', 5),
 ('Frame Shape', 5),
 ('Suitable For', 5),
 ('Sole', 5),
 ('Compass', 4),
 ('Country Of Origin', 4),
 ('Name', 4),
 ('Color Family', 4),
 ('Warranty', 4),
 ('Country////Region of Manufacture', 4),
 ('Contains Batteries', 4),
 ('Power Type', 4),
 ('Style:', 4),
 ('Case Type:', 4),
 ('Lens material:', 4),
 ('Eye Size:', 4),
 ('Bridge/Temple Size:', 4),
 ('Temple Size:', 4),
 ('Frame material:', 4),
 ('Bridge Size:', 4),
 ('Looks best on these face shapes:', 4),
 ('Worldstock Country', 4),
 ('Sleeve-length', 4),
 ('Disclosures', 4),
 ('Slip Resistant', 4),
 ('Bridge', 4),
 ('Face Shape', 4),
 ('Arm', 4),
 ('Lens', 4),
 ('Hairstyle', 4),
 ('Total Length', 4),
 ('Catalog', 4),
 ('Diameter', 4),
 ('Band Length (in.)', 4),
 ('Band Type', 4),
 ('Sleeve Style', 4),
 ('Style Name', 4),
 ('Manufacturer recommended age', 4),
 ('Look', 3),
 ('Waist Size', 3),
 ('Product ID', 3),
 ('Age Start', 3),
 ('Age End', 3),
 ('Fabric', 3),
 ('Terrain', 3),
 ('Kids Backpacks', 3),
 ('Manufacturer SKU', 3),
 ('Numeric Display', 3),
 ('Care Instruction', 3),
 ('Dress Length', 3),
 ('Nickel free', 3),
 ('Bed Size', 3),
 ('Item Width', 3),
 ('Outer Material', 3),
 ('Container Type', 3),
 ('Neckline', 3),
 ('Pant Style', 3),
 ('Style Number', 3),
 ('Manufacturer Number', 3),
 ('Fabric Care Instructions', 3),
 ('SKU#', 3),
 ('Lens Material', 3),
 ('Impact Resistant', 3),
 ('Stylenumber', 3),
 ('Heart Rate Monitor', 3),
 ('Digital Camera', 3),
 ('GPS', 3),
 ('Decade', 2),
 ('Boxed-product Dimensions', 2),
 ('Product Type', 2),
 ('Power Reserve', 2),
 ('Case Back', 2),
 ('Hands', 2),
 ('Product #', 2),
 ('Licensed', 2),
 ('Series', 2),
 ('Item code', 2),
 ('Internal code', 2),
 ('Stock No.', 2),
 ('Animal Type', 2),
 ('Smart Watch', 2),
 ('Shipping Information', 2),
 ('Set Items', 2),
 ('Item Spec Attr - Style (eBay)', 2),
 ('Form', 2),
 ('Type of Cleaner', 2),
 ('Contains Cubic Zirconia', 2),
 ('Chain Included', 2),
 ('Chain/Necklace Length (in.)', 2),
 ('Hat Style', 2),
 ('Country/region Of Manufacture', 2),
 ('Colours', 2),
 ('Exact Material', 2),
 ('Package', 2),
 ('Applicable', 2),
 ('Metal Stamp', 2),
 ('Ring Style', 2),
 ('upc', 2),
 ('brand', 2),
 ('mpn', 2),
 ('Erotic?', 2),
 ('Support', 2),
 ('engine', 2),
 ('fuel', 2),
 ('transmission', 2),
 ('trim', 2),
 ('yearBuilt', 2),
 ('mileage', 2),
 ('Color Category', 2),
 ('Capacity', 2),
 ('Casing', 2),
 ('Case Tone', 2),
 ('Case Type', 2),
 ('Subdial', 2),
 ('Jewelry Setting', 2),
 ('Band Style', 2),
 ('Self Material', 2),
 ('Top Type', 2),
 ('Fiber', 2),
 ('Fits brands', 2),
 ('Used With Equipment Type', 2),
 ('Part Type', 2),
 ('Fits models', 2),
 ('Is Wheeled', 2),
 ('Number of Wheels', 2),
 ('Fastener Type', 2),
 ('Carats', 2),
 ('Clasp Type', 2),
 ('Chain Length', 2),
 ('Bracelet Style', 2),
 ('To Fit', 2),
 ('Black', 2),
 ('Team', 2),
 ('Material Type(s)', 2),
 ('spikes type', 2),
 ('golf shoe type', 2),
 ('Retail Price', 2),
 ('MSRP', 2),
 ('Look Through Color', 2),
 ('Light Transmission', 2),
 ('Polarized', 2),
 ('Lens Socket Width', 2),
 ('Box', 2),
 ('Year Made', 2),
 ('Type 2', 2),
 ('Fit:', 2),
 ('Wheeled', 2),
 ('Country of Origin Assembly:', 2),
 ('Net Weight', 2),
 ('Number of Stones', 1),
 ('Technician', 1),
 ('Mechanic', 1),
 ('Tactical', 1),
 ('Auto', 1),
 ('Domestic Shipping', 1),
 ('Best Sellers Rank', 1),
 ('Date First Available', 1),
 ('International Shipping', 1),
 ('100% ADIDAS AUTHENTIC', 1),
 ('SKU Number', 1),
 ('Interior Pockets', 1),
 ('Serial Number', 1),
 ('Most Suitable For', 1),
 ('Pet Size', 1),
 ('Cup Size', 1),
 ('Neck Style', 1),
 ('Product Features', 1),
 ('Collar', 1),
 ('Band Manufacturer', 1),
 ('Fits Styles', 1),
 ('Year', 1),
 ('Materials', 1),
 ('Season or Holiday', 1),
 ('Light Transmission (VLT)', 1),
 ('Mirrored', 1),
 ('Fits Model', 1),
 ('Shelf Description', 1),
 ('MPN#', 1),
 ('Coverage', 1),
 ('Cap Construction', 1),
 ('����������������', 1),
 ('Материал', 1),
 ('Instrument', 1),
 ('Seller Inventory Number', 1),
 ('Defects', 1),
 ('Actual Style', 1),
 ('Inv', 1),
 ('Lining Material', 1),
 ('CM', 1),
 ('EURO SIZE', 1),
 ('Thick, Warm, Cozy', 1),
 ('Airport Friendly', 1),
 ('Shirt Size', 1),
 ('Ground', 1),
 ('Sub-Type', 1),
 ('Side Pocket (approx)', 1),
 ('Front Pocket (approx)', 1),
 ('Suitable Groups', 1),
 ('ADIDAS', 1),
 ('Autographed', 1),
 ('Has Expiration', 1),
 ('Full Colorway', 1),
 ('Frye', 1),
 ('Polarised', 1),
 ('Characteristics', 1),
 ('Frame Type', 1),
 ('Lens Width', 1),
 ('waterproof', 1),
 ('Nike Product #', 1),
 ('Style #', 1),
 ('Lining:', 1),
 ('Bra:', 1),
 ('Front  Side Color', 1),
 ('Shipping to USA', 1),
 ('Vertical', 1),
 ('Quantity in Set', 1),
 ('Item Type', 1),
 ('FIT', 1),
 ('Add as favorite Added as favoriteRemove from favoritesPassionate about this charity? Add it to your favorites to help them when you buy and sell on eBay.',
  1),
 ('Release', 1),
 ('Nike Id', 1),
 ('Accessory Type', 1),
 ('Watch Shape', 1),
 ('Face Color', 1),
 ('Padding', 1),
 ('Unit Quantity', 1),
 ('Unit Type', 1),
 ('Accessory', 1),
 ('Fuel Type', 1),
 ('Compatible Devices', 1),
 ('Item color', 1),
 ('Shoe Fastening Type', 1),
 ('WIDTH', 1),
 ('Military Style', 1),
 ('Hips', 1),
 ('What Includes', 1),
 ('Location - Country', 1),
 ('Item weight', 1),
 ('Item weight unit of measure', 1),
 ('Location - City/State', 1),
 ('Work Shoes', 1),
 ('Genre', 1),
 ('CUSTOMER FEEDBACK', 1),
 ('Exact material', 1),
 ('Exact Heel Height', 1),
 ('Athlete', 1),
 ('Trend', 1),
 ('Parts', 1),
 ('Labor', 1),
 ('Jacket Detail', 1),
 ('Material Detail-1', 1),
 ('Overall Condition', 1),
 ('Contained Battery Type', 1),
 ('Full Product Manual', 1),
 ('Safety Features', 1),
 ('Certifications and Listings', 1),
 ('Footwear Type', 1),
 ('Clothing Product Type', 1),
 ('Has 3D Capabilities', 1),
 ('Pocket', 1),
 ('Type of Sole', 1),
 ('International shipping?', 1),
 ('Stock', 1),
 ('Construction', 1),
 ('Temple Length', 1),
 ('Front Side Color', 1),
 ('atpv arc rating', 1),
 ('Is Lined', 1),
 ('Package Content', 1),
 ('Hip Girth', 1)]

In [25]:
selected_features = ['Material',
'Shoe Size',
'Color',
"Brand",
'Gender']
selected_features

['Material', 'Shoe Size', 'Color', 'Brand', 'Gender']

In [26]:
for feature in selected_features:
    for i in range(len(df)):
        for j in range(49):
            if type(new_df.iloc[i,j])== dict:
                key = new_df.iloc[i,j]["key"]
                value = new_df.iloc[i,j]["value"]
                if key == feature:
                    try:
                        new_df.at[i, feature] = value
                    except:
                        pass
    print(feature + " added...")
new_df.head()

Material added...
Shoe Size added...
Color added...
Brand added...
Gender added...

,0,1,2,3,4,5,6,7,8,9,...,47,48,name,prices.amountMin,prices.isSale,Material,Shoe Size,Color,Brand,Gender
0,"{'key': 'Sport', 'value': ['Leisure, Golf']}","{'key': 'Style', 'value': ['Pants']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Brand New - Nike Tiger Woods Tw Adaptive ...,65.00,FALSE,NaN,NaN,NaN,NaN,NaN
1,"{'key': 'Style', 'value': ['Nursing & Uniform']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Condition', 'value': ['Pre-owned']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Dansko Mens Professional Box Leather Clog...,58.31,FALSE,Leather,NaN,NaN,NaN,NaN
2,"{'key': 'Heel Height', 'value': ['Med (1 3/4 i...","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Occasion', 'value': ['Wear to Work']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Country/Region of Manufacture', 'valu...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Dansko Professional Leather Clogs In Hick...,55.25,TRUE,[Leather],NaN,NaN,NaN,NaN
3,"{'key': 'Style', 'value': ['Golf - Dress - Ple...","{'key': 'Inseam', 'value': ['30']}","{'key': 'Material', 'value': ['65% Polyester -...","{'key': 'Front Style', 'value': ['Pleated fron...","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Lauren Ralph Lauren Fully Lined Golf - Dr...,49.99,FALSE,[65% Polyester - 35% Rayon],NaN,NaN,NaN,NaN
4,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Material', 'value': ['50% Wool - 50% ...","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Country of Manufacture', 'value': ['I...","{'key': 'Color', 'value': ['Gray']}",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Lauren Ralph Lauren Lined Wool/poly Dress...,59.99,FALSE,[50% Wool - 50% Polyester],NaN,Gray,NaN,NaN

In [56]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,47,48,name,prices.amountMin,prices.isSale,Material,Shoe Size,Color,Brand,Gender
0,"{'key': 'Sport', 'value': ['Leisure, Golf']}","{'key': 'Style', 'value': ['Pants']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Brand New - Nike Tiger Woods Tw Adaptive ...,65.00,FALSE,NaN,NaN,NaN,NaN,NaN
1,"{'key': 'Style', 'value': ['Nursing & Uniform']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Condition', 'value': ['Pre-owned']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Dansko Mens Professional Box Leather Clog...,58.31,FALSE,Leather,NaN,NaN,NaN,NaN
2,"{'key': 'Heel Height', 'value': ['Med (1 3/4 i...","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Occasion', 'value': ['Wear to Work']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Country/Region of Manufacture', 'valu...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Dansko Professional Leather Clogs In Hick...,55.25,TRUE,[Leather],NaN,NaN,NaN,NaN
3,"{'key': 'Style', 'value': ['Golf - Dress - Ple...","{'key': 'Inseam', 'value': ['30']}","{'key': 'Material', 'value': ['65% Polyester -...","{'key': 'Front Style', 'value': ['Pleated fron...","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Lauren Ralph Lauren Fully Lined Golf - Dr...,49.99,FALSE,[65% Polyester - 35% Rayon],NaN,NaN,NaN,NaN
4,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Material', 'value': ['50% Wool - 50% ...","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Country of Manufacture', 'value': ['I...","{'key': 'Color', 'value': ['Gray']}",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Lauren Ralph Lauren Lined Wool/poly Dress...,59.99,FALSE,[50% Wool - 50% Polyester],NaN,Gray,NaN,NaN
5,"{'key': 'Style', 'value': ['Fashion Sneakers']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 New Nike Women's Sz 6.5 Dunk Sky Hi Casua...,73.95,FALSE,NaN,NaN,NaN,NaN,NaN
6,"{'key': 'Style', 'value': ['Dress - Flat Front']}","{'key': 'Inseam', 'value': ['30']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Nwt Nautica Gray Flat Front Dress Pants T...,19.99,FALSE,NaN,NaN,NaN,NaN,NaN
7,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Inseam', 'value': ['30']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Nwt Nautica Travel Wool Blend Blue Checke...,24.99,FALSE,NaN,NaN,NaN,NaN,NaN
8,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Inseam', 'value': ['32']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Nwt Nautica Travelwear Wool Blend Black P...,19.99,FALSE,NaN,NaN,NaN,NaN,NaN
9,"{'key': 'Style', 'value': ['Vest']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Polo Ralph Lauren Men Vest With Hood Smal...,48.50,FALSE,NaN,NaN,NaN,NaN,NaN
10,"{'key': 'Style', 'value': ['Cargo']}","{'key': 'Inseam', 'value': ['29']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Polo Ralph Lauren Utility Cargo Pants Sz ...,53.99,TRUE,NaN,NaN,NaN,NaN,NaN
11,"{'key': 'Style', 'value': ['Dress - Pleat']}","{'key': 'Inseam', 'value': ['32']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Ralph Lauren Men's Beige Pleated Front 10...,19.99,FALSE,NaN,NaN,NaN,NaN,NaN
12,"{'key': 'Heel Height', 'value': ['Low (3/4 in....","{'key': 'Style', 'value': ['Rainboots']}","{'key': 'Material', 'value': ['Rubber']}","{'key': 'Condition', 'value': ['New with box']}","{'key': 'Country of Manufacture', 'value': ['C...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$125 Size 10 Brand New Michael Kors Fulton Har...,59.99,FALSE,[Rubber],NaN,NaN,NaN,NaN
13,"{'key': 'Style', 'value': ['Athletic Sneakers']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$180 Nike Men's Sz 10 Air Max 90 Sneakerboot W...,119.50,FALSE,NaN,NaN,NaN,NaN,NaN
14,"{'key': 'Heel Height', 'value': ['Flat (0 to 1...","{'key': 'Style', 'value': ['Ballet Flats']}","{'key': 'Occasion', 'value': ['Casual']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$185 New Via Spiga Lilac Metallic Suede Ballet...,53.00,FALSE,NaN,NaN,NaN,NaN,NaN
15,"{'key': 'Inseam', 'value': ['34']}","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Style', 'value': ['Classic, Straight ...","{'key': 'Wash', 'value': ['Medium']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$200 Rock Revival Men's Jeans Rp9931a200 Teles...,78.00,FALSE,NaN,NaN,NaN,NaN,NaN
16,"{'key': 'Heel Height', 'value': ['Flat']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Gender', 'value': ['Women']}","{'key': 'Shoe Size', 'value': ['10 US']}","{'key': 'Size', 'value': ['10 US']}","{'key': 'Shoe Category', 'value': ['Women's Sh...","{'key': 'Fabric Material', 'value': ['Leather']}","{'key': 'Color', 'value': ['White']}","{'key': 'Condition', 'value': ['New']}","{'key': 'Brand', 'value': ['Diesel']}",...,NaN,NaN,$250 Diesel Forever White Heels Pumps Shoes 10...,99.95,TRUE,[Leather],10 US,[White],Diesel,Women
17,"{'key': 'Style', 'value': ['Fashion - Knee-Hig...","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Material', 'value': ['Leather']}","{'key': 'Color', 'value': ['Dark Gray']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$295 Freebird By Steven Women's Leather Wrap S...,189.00,FALSE,[Leather],NaN,[Dark Gray],NaN,NaN
18,"{'key': 'Material', 'value': ['Premium Full-gr...","{'key': 'Country/Region of Manufacture', 'valu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$300 Timberland Boot Company Wodehouse Chelsea...,120.00,TRUE,[Premium Full-grain Leather],NaN,NaN,NaN,NaN
19,"{'key': 'Style', 'value': ['Blazer']}","{'key': 'Material', 'value': ['70% Wool/30% Po...","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$418 Nwt Parker Womens Black Wool Leather Trim...,199.00,FALSE,[70% Wool/30% Polyester/100% Leather],NaN,NaN,NaN,NaN
20,"{'key': 'Style', 'value': ['Straight']}","{'key': 'Inseam', 'value': ['32 1/2']}","{'key': 'Material', 'value': ['100% Cotton']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$418 Super T Qt Mega T 31 True Religion Men Je...,178.00,FALSE,[100% Cotton],NaN,NaN,NaN,NaN
21,"{'key': 'Style', 'value': ['Gowns']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Material', 'value': ['Chiffon']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$428 Victoria's Secret Designer Collection Max...,69.50,FALSE,[Chiffon],NaN,NaN,NaN,NaN
22,"{'key': 'Style', 'value': ['Puffer']}","{'key': 'Material', 'value': ['Down']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$450 Nwt Patagonia Fitz Roy 800 Down Jacket Pu...,185.00,FALSE,[Down],NaN,NaN,NaN,NaN
23,"{'key': 'Style', 'value': ['Moccasins']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$450 Polo Ralph Lauren Aaric Rugged Suede Plai...,102.41,TRUE,NaN,NaN,NaN,NaN,NaN
24,"{'key': 'Style', 'value': ['Jean Jacket']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Condition', 'value': ['New with tags']}","{'key': 'Country//Region of Manufacture', 'val...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,$450 Rrl Ralph Lauren Icon Ssnl Denim Distress...,285.00,FALSE,NaN,NaN,NaN,NaN,NaN
25,"{'key': 'Style', 'value': ['Athletic Sneakers']}","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,(410518.1f73) Ds Mizuno Wave Prophecy 2 Red/li...,76.00,FALSE,NaN,NaN,NaN,NaN,NaN
26,"{'key': 'Style', 'value': ['WALKING']}","{'key': 'Country/Region of Manufacture', 'valu...","{'key': 'Condition', 'value': ['New with box']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,(655206-416) Men's Nike Roshe One Print Racer ...,60.00,FALSE,NaN,NaN,NaN,NaN,NaN
27,"{'key': 'Condition', 'value': ['New with box']}","{'key': 'MPN', 'value': ['R554Y-5001']}","{'key': 'Style', 'value': ['Netball']}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,* New * Asics Gel Pivot 10 Womens Netball Shoe...,114.50,FALSE,NaN,NaN,NaN,NaN,NaN
28,"{'key': 'Style', 'value': ['Thongs']}","{'key': 'Pattern', 'value': ['Solid']}","{'key': 'Occasion', 'value': ['Everyday']}","{'key': 'Material', 'value': ['Cotton Blend']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,**just In**nwt~lane Bryant Cacique Plus Black ...,9.85,TRUE,[Cotton Blend],NaN,NaN,NaN,NaN
29,"{'key': 'Style', 'value': ['Briefs, Hi-Cuts']}","{'key': 'Pattern', 'value': ['Polka Dot']}","{'key': 'Occasion', 'value': ['Everyday']}","{'key': 'Condition', 'value': ['New with tags']}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,**new**nwt~lane Bryant Cacique Coral Tiny Dots...,10.95,FALSE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unisex
14708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Men's
14711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Men's
14786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ladies
15136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
15138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
15143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
15316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
15349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ladies
15350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ladies
15433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female
15477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Men's
15526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
15544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
15776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Men

In [144]:
final_df = new_df[['Material',
'Shoe Size',
'Color',
"Brand",
"name",
"prices.amountMin",
"prices.isSale",
'Gender'
]].dropna()
final_df = final_df.reset_index(drop=True)
final_df.head()

,Material,Shoe Size,Color,Brand,name,prices.amountMin,prices.isSale,Gender
0,[Leather],10 US,[White],Diesel,$250 Diesel Forever White Heels Pumps Shoes 10...,99.95,TRUE,Women
1,[Synthetic],[5],[BlackPatent],[Summitfashions],3 Inch Women's Sexy Gogo Boots Knee High Singl...,53.99,FALSE,[Women]
2,[polyurethane],[Shoe Size 7-10],[Gray],[Kushyfoot],3 Pairs Women���s Reusable Kushyfoot Flats To ...,7.99,FALSE,[Women]
3,"[Cloth ,�� Leather]",[M],[Black],[3N2],"3n2 7735-0101-105 Mid Cut Turf Trainer Shoe, B...",54.59,TRUE,[Men]
4,"[Cloth ,�� Leather]","[11 ,�� 12 ,�� Size 7.5 ,�� 13 ,�� 14 ,�� Size...",[Black],[3N2],"3n2 7735-0101-80 Mid Cut Turf Trainer Shoe, Bl...",53.47,TRUE,[Men]

In [145]:
# get the first element from the list in each cell 
for i in range(len(final_df)):
    for j in range(8):
        if type(final_df.iloc[i,j])== list:
            final_df.iloc[i,j] = final_df.iloc[i,j][0]
final_df = final_df.sort_values("name").reset_index(drop=True)
final_df.head()

,Material,Shoe Size,Color,Brand,name,prices.amountMin,prices.isSale,Gender
0,Leather,10 US,White,Diesel,$250 Diesel Forever White Heels Pumps Shoes 10...,99.95,TRUE,Women
1,polyurethane,Shoe Size 7-10,Gray,Kushyfoot,10-pack Men's Premium White Cabretta Golf Glov...,58.68,FALSE,Women
2,"Cloth ,�� Leather",M,Black,3N2,15051-rg-01 Montana Multi-function Black Gen. ...,545.00,FALSE,Men
3,Synthetic,9,Clear,SummitFashions,180s Womens Exolite Sonic Sport Headphone Ear ...,45.00,FALSE,Women
4,Leather,7.5,Brown,7 For All Mankind,2 Pack Barely There Berlei Contour Bras With U...,69.99,FALSE,Men

In [146]:
# clean shoe size column:
replace_words = ["Size ", "Shoe Size ", " US", "M"]
for word in replace_words:
    final_df["Shoe Size"] = final_df["Shoe Size"].str.replace(word, "")

In [147]:
# extract number only from shoe size
import re
for i in range(len(final_df)):
    final_df["Shoe Size"] = final_df["Shoe Size"].str.extract('(\d+)')
final_df

,Material,Shoe Size,Color,Brand,name,prices.amountMin,prices.isSale,Gender
0,Leather,10,White,Diesel,$250 Diesel Forever White Heels Pumps Shoes 10...,99.95,TRUE,Women
1,polyurethane,7,Gray,Kushyfoot,10-pack Men's Premium White Cabretta Golf Glov...,58.68,FALSE,Women
2,"Cloth ,�� Leather",NaN,Black,3N2,15051-rg-01 Montana Multi-function Black Gen. ...,545.00,FALSE,Men
3,Synthetic,9,Clear,SummitFashions,180s Womens Exolite Sonic Sport Headphone Ear ...,45.00,FALSE,Women
4,Leather,7,Brown,7 For All Mankind,2 Pack Barely There Berlei Contour Bras With U...,69.99,FALSE,Men
5,Synthetic,7,Brown,a.x.n.y.,2015 New Women's Fashion Flower Long Style Wra...,2.44,FALSE,Women
6,Synthetic,5,BlackPatent,Summitfashions,3 Inch Women's Sexy Gogo Boots Knee High Singl...,53.99,FALSE,Women
7,polyurethane,7,Gray,Kushyfoot,3 Pairs Women���s Reusable Kushyfoot Flats To ...,7.99,FALSE,Women
8,Leather,9,Brown,Acorn,35634012 - Suede Mid Classic+,75.00,TRUE,Women
9,Leather,13,Black,Adan,3n2 5945-0106-70 Womens Rally Metal Pt Fastpit...,94.05,FALSE,Men
10,"Cloth ,�� Leather",NaN,Black,3N2,"3n2 7735-0101-105 Mid Cut Turf Trainer Shoe, B...",54.59,TRUE,Men
11,"Cloth ,�� Leather",11,Black,3N2,"3n2 7735-0101-80 Mid Cut Turf Trainer Shoe, Bl...",53.47,TRUE,Men
12,Synthetic,9,Clear,SummitFashions,4 Inch Sexy High Heel Mule Slide Shoe With Rhi...,64.99,FALSE,Women
13,Glitter Polyurethane,6,Green Glitter,ELLIE SHOES,414patty Heel Adult,57.56,FALSE,Unisex
14,"Upper Material||PATENT POLYURETHANE,Heel Mater...",6,White,ELLIE SHOES,421-jane Double Strap Mary Jane Adult Shoes,34.80,FALSE,Unisex
15,"Upper Material||GLITTER , Heel Material||ABS (...",9,Green,ELLIE SHOES,"421-jane-g, 4 Inch Double Strap Glitter Mary J...",25.99,TRUE,Unisex
16,Upper Material||GLITTER AND PATENT POLYURETHAN...,7,Red,ELLIE SHOES,"453-lacey, 4'' Heel Glitter Shoe",52.58,FALSE,Unisex
17,Synthetic,7,Blue,Adriana New York,47 Maple Accessories 2-458-1a Women Faux Leath...,75.00,FALSE,Women
18,Synthetic,6,White,Adriana New York,48 Pairs-skidders Womens Yoga Pilattes Gripper...,265.00,FALSE,Women
19,Synthetic,7,Beige,Adriana New York,4xl Men's Washed Duck Work Jacket,74.42,FALSE,Women
20,Synthetic,5,Clear,SummitFashions,5 Inch Women's Sexy Evening Shoes Clear Sandal...,62.99,FALSE,Women
21,"Upper Material||GLITTER, Heel Material||ABS (P...",8,Silver Glitter,ELLIE SHOES,5'' Glitter Pump Shoe,49.50,FALSE,Unisex
22,Synthetic,7,Brown,Aerosoles,51-30 Chronograph Black Dial Stainless Steel M...,480.00,FALSE,Women
23,"Upper Material||PATENT POLYURETHANE , Heel Mat...",12,Black,ELLIE SHOES,"511-gangster, 5'' Heel Two Tone Closed Toe Oxf...",38.10,FALSE,Unisex
24,Synthetic,7,Clear,PLEASER,6 Inch High Heel Clear Platform Shoes Dual Str...,49.99,FALSE,Women
25,Synthetic,6,Clear,Summit Fashions,6 Inch Sexy Platform Shoes Clear Dorsay Rhines...,64.99,FALSE,Women
26,Synthetic,6,Black,SummitFashions,6 Inch Women's Sexy Strappy Shoes High Heel Sh...,54.99,FALSE,Women
27,Canvas,10,Red,Ahnu,6'' Heel Fetish Pump Shoe,55.62,FALSE,Women
28,Vinyl.,12,Clear,The Highest Heel,6'' Partial Wedge Sandal,49.05,FALSE,Unisex
29,Leather,8,Black,Aldo,620415 483 New Womens Nike Pro Hyperwarm Infin...,31.95,FALSE,Men
...,...,...,...,...,...,...,...,...
3086,Faux Leather,6,Blue,Luo Luo,Womens Velvet Ballet Flats Slip On Shoes Rhine...,9.99,TRUE,Women
3087,Leather,5,Beige,Via Spiga,Womens Via Spiga Carita Slide Flat Sandals - D...,23.99,TRUE,Women
3088,Leather,7,Gold,Via Spiga,Womens Via Spiga Rosette Esapdrille Slingback ...,159.00,FALSE,Women
3089,Synthetic,9,Off-White,SummitFashions,Womens Victorian Inspired Pumps 4 1/2 Inch Hee...,64.99,FALSE,Women
3090,Leather,10,Purple,Vince Camuto,Womens Vince Camuto Fia Dress Sandals - Claret,56.59,FALSE,Women
3091,Polyester,7,White,ELLIE SHOES,Womens White Eden High Heel Shoes,30.21,FALSE,Women
3092,Leather,11,Brown,Woolrich,Woolrich Lane Men Us 11 Brown Chukka Boot,43.99,TRUE,Men
3093,Unknown,7,Green Ombre Wool,Woolrich,Woolrich Strand Round Toe Canvas Sneakers,29.95,FALSE,Women
3094,Textile Upper/Man Made Outsole,6,Black/White Buffalo Check Wool,Woolrich,Woolrich Womens Autumn Ridge Round Toe Slip On...,27.99,FALSE,Women
3095,Leather,9,Rye,Woolrich,Woolrich Womens Lane Suede Distressed Chukka B...,99.99,FALSE,Women
3096,Leather,8,Black,Work America,Work America 6 Boot Men A Round Toe Leather W...,31.99,TRUE,Men
3097,Leather,10,Brown,Work America,Work America 750 4e Round Toe Leather Boot,31.99,TRUE,Men
3098,Leather,8,Black,Work America,Work America Soft Toe 8 4e Round Toe Leather ...,54.99,TRUE,Men
3099,Multi,8,Multicolor,Diamondback,Workboot 6in Stltoe Action 9 Diamondback Boots...,41.48,FALSE,Unisex
3100,Synthetic,11,White,XOXO,Xoxo Sadelia Women Us 11 White Thong Sandal Uk...,9.99,TRUE,Women
3101,Synthetic,8,Black,XOXO,Xoxo Winifred Women Us 8 Black Sandals Uk 5.5 ...,2.99,TRUE,Women
3102,Synthetic,8,Black,XOXO,Xoxo Women's Sunday Perforated Wedge Sandal,15.99,TRUE,Women
3103,Synthetic,7,Bone,XOXO,Xoxo Women's Troy Ankle-high Leather Sandal,27.14,FALSE,Women
3104,Suede,6,Brown,Yellow Box,Yellow Box Balendin Women Moc Toe Suede Boot,17.99,TRUE,Women
3105,Synthetic,7,Green,Yellow Box,Yellow Box Dacey Open Toe Synthetic Thong S...,8.99,TRUE,Women
3106,Canvas,6,Multicolor,Yellow Box,Yellow Box Sutra Women Us 6 Multi Color Flip F...,26.99,FALSE,Women
3107,Synthetic,5,Green,Yoki,Yoki Sheila-05 Women Open Toe Synthetic Thon...,0.99,TRUE,Women
3108,Synthetic,7,Brown,Yosi Samra,Yosi Samra Samra Round Toe Synthetic Ballet...,35.99,TRUE,Women
3109,Canvas,8,Brown,Yuu,Yuu Elsy Women Round Toe Canvas Brown Winter ...,54.98,TRUE,Women
3110,Synthetic,9,Black,Yuu,Yuu Gail Women Round Toe Synthetic Flats,7.99,TRUE,Women
3111,Leather,10,Black,Yves Saint Laurent,Yves Saint Laurent Woodstock Women Open Toe L...,395.99,TRUE,Women
3112,Leather,8,Black,Zanzara,Zanzara Terni Men Round Toe Leather Loafer,195.00,FALSE,Men
3113,Synthetic,6,Brown,Zigi Soho,Zigi Soho Dasher Women Round Toe Synthetic Br...,14.99,TRUE,Women
3114,Synthetic,12,Green,Zoot,Zoot Tt Trainer Round Toe Synthetic Sneakers,39.99,TRUE,Men
3115,Synthetic,9,Blue,Zoot,Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,71.99,TRUE,Women

In [148]:
len(final_df)

3116

In [149]:
# delete messy symbol lines:
final_df.drop(df.index[[2,7,10,11]], inplace=True)

In [ ]:
df["prices.isSale"] = df["prices.isSale"].map({"true":"TRUE", "false":"FALSE", "TRUE":"TRUE", "FALSE":"FALSE"})

# Convert Europe shoe size to US
final_df["Shoe Size"] = final_df["Shoe Size"].map()

In [150]:
# save to csv
final_df.to_csv(path_or_buf="clean_data.csv", index=False)

In [151]:
df = pd.read_csv("clean_data.csv")
df

,Material,Shoe Size,Color,Brand,name,prices.amountMin,prices.isSale,Gender
0,Leather,10.0,White,Diesel,$250 Diesel Forever White Heels Pumps Shoes 10...,99.95,True,Women
1,polyurethane,7.0,Gray,Kushyfoot,10-pack Men's Premium White Cabretta Golf Glov...,58.68,False,Women
2,Synthetic,9.0,Clear,SummitFashions,180s Womens Exolite Sonic Sport Headphone Ear ...,45.00,False,Women
3,Leather,7.0,Brown,7 For All Mankind,2 Pack Barely There Berlei Contour Bras With U...,69.99,False,Men
4,Synthetic,7.0,Brown,a.x.n.y.,2015 New Women's Fashion Flower Long Style Wra...,2.44,False,Women
5,Synthetic,5.0,BlackPatent,Summitfashions,3 Inch Women's Sexy Gogo Boots Knee High Singl...,53.99,False,Women
6,Leather,9.0,Brown,Acorn,35634012 - Suede Mid Classic+,75.00,True,Women
7,Leather,13.0,Black,Adan,3n2 5945-0106-70 Womens Rally Metal Pt Fastpit...,94.05,False,Men
8,Synthetic,9.0,Clear,SummitFashions,4 Inch Sexy High Heel Mule Slide Shoe With Rhi...,64.99,False,Women
9,Glitter Polyurethane,6.0,Green Glitter,ELLIE SHOES,414patty Heel Adult,57.56,False,Unisex
10,"Upper Material||PATENT POLYURETHANE,Heel Mater...",6.0,White,ELLIE SHOES,421-jane Double Strap Mary Jane Adult Shoes,34.80,False,Unisex
11,"Upper Material||GLITTER , Heel Material||ABS (...",9.0,Green,ELLIE SHOES,"421-jane-g, 4 Inch Double Strap Glitter Mary J...",25.99,True,Unisex
12,Upper Material||GLITTER AND PATENT POLYURETHAN...,7.0,Red,ELLIE SHOES,"453-lacey, 4'' Heel Glitter Shoe",52.58,False,Unisex
13,Synthetic,7.0,Blue,Adriana New York,47 Maple Accessories 2-458-1a Women Faux Leath...,75.00,False,Women
14,Synthetic,6.0,White,Adriana New York,48 Pairs-skidders Womens Yoga Pilattes Gripper...,265.00,False,Women
15,Synthetic,7.0,Beige,Adriana New York,4xl Men's Washed Duck Work Jacket,74.42,False,Women
16,Synthetic,5.0,Clear,SummitFashions,5 Inch Women's Sexy Evening Shoes Clear Sandal...,62.99,False,Women
17,"Upper Material||GLITTER, Heel Material||ABS (P...",8.0,Silver Glitter,ELLIE SHOES,5'' Glitter Pump Shoe,49.50,False,Unisex
18,Synthetic,7.0,Brown,Aerosoles,51-30 Chronograph Black Dial Stainless Steel M...,480.00,False,Women
19,"Upper Material||PATENT POLYURETHANE , Heel Mat...",12.0,Black,ELLIE SHOES,"511-gangster, 5'' Heel Two Tone Closed Toe Oxf...",38.10,False,Unisex
20,Synthetic,7.0,Clear,PLEASER,6 Inch High Heel Clear Platform Shoes Dual Str...,49.99,False,Women
21,Synthetic,6.0,Clear,Summit Fashions,6 Inch Sexy Platform Shoes Clear Dorsay Rhines...,64.99,False,Women
22,Synthetic,6.0,Black,SummitFashions,6 Inch Women's Sexy Strappy Shoes High Heel Sh...,54.99,False,Women
23,Canvas,10.0,Red,Ahnu,6'' Heel Fetish Pump Shoe,55.62,False,Women
24,Vinyl.,12.0,Clear,The Highest Heel,6'' Partial Wedge Sandal,49.05,False,Unisex
25,Leather,8.0,Black,Aldo,620415 483 New Womens Nike Pro Hyperwarm Infin...,31.95,False,Men
26,Leather,37.0,Hickory,Alegria,"652-oxford, 6.5'' Stiletto Heel Oxford Shoes",49.59,False,Women
27,Synthetic,9.0,Blue,Alessandro Monelli,6pcs Women White Disposable Non-woven Briefs P...,1.32,False,Men
28,Leather,7.0,Brown,7 For All Mankind,7 For All Mankind Cruz Men Us 7.5 Brown Chukka...,57.99,True,Men
29,Leather,11.0,White,Alexander McQueen,7 For All Mankind Cruz Men Us 7.5 Brown Chukka...,210.00,False,Men
...,...,...,...,...,...,...,...,...
3082,Faux Leather,6.0,Blue,Luo Luo,Womens Velvet Ballet Flats Slip On Shoes Rhine...,9.99,True,Women
3083,Leather,5.0,Beige,Via Spiga,Womens Via Spiga Carita Slide Flat Sandals - D...,23.99,True,Women
3084,Leather,7.0,Gold,Via Spiga,Womens Via Spiga Rosette Esapdrille Slingback ...,159.00,False,Women
3085,Synthetic,9.0,Off-White,SummitFashions,Womens Victorian Inspired Pumps 4 1/2 Inch Hee...,64.99,False,Women
3086,Leather,10.0,Purple,Vince Camuto,Womens Vince Camuto Fia Dress Sandals - Claret,56.59,False,Women
3087,Polyester,7.0,White,ELLIE SHOES,Womens White Eden High Heel Shoes,30.21,False,Women
3088,Leather,11.0,Brown,Woolrich,Woolrich Lane Men Us 11 Brown Chukka Boot,43.99,True,Men
3089,Unknown,7.0,Green Ombre Wool,Woolrich,Woolrich Strand Round Toe Canvas Sneakers,29.95,False,Women
3090,Textile Upper/Man Made Outsole,6.0,Black/White Buffalo Check Wool,Woolrich,Woolrich Womens Autumn Ridge Round Toe Slip On...,27.99,False,Women
3091,Leather,9.0,Rye,Woolrich,Woolrich Womens Lane Suede Distressed Chukka B...,99.99,False,Women
3092,Leather,8.0,Black,Work America,Work America 6 Boot Men A Round Toe Leather W...,31.99,True,Men
3093,Leather,10.0,Brown,Work America,Work America 750 4e Round Toe Leather Boot,31.99,True,Men
3094,Leather,8.0,Black,Work America,Work America Soft Toe 8 4e Round Toe Leather ...,54.99,True,Men
3095,Multi,8.0,Multicolor,Diamondback,Workboot 6in Stltoe Action 9 Diamondback Boots...,41.48,False,Unisex
3096,Synthetic,11.0,White,XOXO,Xoxo Sadelia Women Us 11 White Thong Sandal Uk...,9.99,True,Women
3097,Synthetic,8.0,Black,XOXO,Xoxo Winifred Women Us 8 Black Sandals Uk 5.5 ...,2.99,True,Women
3098,Synthetic,8.0,Black,XOXO,Xoxo Women's Sunday Perforated Wedge Sandal,15.99,True,Women
3099,Synthetic,7.0,Bone,XOXO,Xoxo Women's Troy Ankle-high Leather Sandal,27.14,False,Women
3100,Suede,6.0,Brown,Yellow Box,Yellow Box Balendin Women Moc Toe Suede Boot,17.99,True,Women
3101,Synthetic,7.0,Green,Yellow Box,Yellow Box Dacey Open Toe Synthetic Thong S...,8.99,True,Women
3102,Canvas,6.0,Multicolor,Yellow Box,Yellow Box Sutra Women Us 6 Multi Color Flip F...,26.99,False,Women
3103,Synthetic,5.0,Green,Yoki,Yoki Sheila-05 Women Open Toe Synthetic Thon...,0.99,True,Women
3104,Synthetic,7.0,Brown,Yosi Samra,Yosi Samra Samra Round Toe Synthetic Ballet...,35.99,True,Women
3105,Canvas,8.0,Brown,Yuu,Yuu Elsy Women Round Toe Canvas Brown Winter ...,54.98,True,Women
3106,Synthetic,9.0,Black,Yuu,Yuu Gail Women Round Toe Synthetic Flats,7.99,True,Women
3107,Leather,10.0,Black,Yves Saint Laurent,Yves Saint Laurent Woodstock Women Open Toe L...,395.99,True,Women
3108,Leather,8.0,Black,Zanzara,Zanzara Terni Men Round Toe Leather Loafer,195.00,False,Men
3109,Synthetic,6.0,Brown,Zigi Soho,Zigi Soho Dasher Women Round Toe Synthetic Br...,14.99,True,Women
3110,Synthetic,12.0,Green,Zoot,Zoot Tt Trainer Round Toe Synthetic Sneakers,39.99,True,Men
3111,Synthetic,9.0,Blue,Zoot,Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...,71.99,True,Women

In [152]:
len(df)

3112

In [172]:
df["Material"].value_counts()[:4]

Leather      915
Synthetic    871
Canvas       366
Suede        307
Name: Material, dtype: int64

In [167]:
df["Shoe Size"].value_counts()

8.0     545
7.0     543
6.0     473
9.0     464
10.0    323
5.0     218
11.0    212
12.0     94
13.0     58
14.0     21
4.0      19
2.0      11
15.0      8
38.0      7
37.0      6
39.0      5
44.0      5
3.0       5
41.0      5
42.0      3
40.0      3
0.0       3
36.0      2
1.0       1
17.0      1
16.0      1
45.0      1
Name: Shoe Size, dtype: int64

In [171]:
df["Color"].value_counts()

Black                                       834
Brown                                       388
Beige                                       205
Gray                                        175
Blue                                        173
White                                       156
Silver                                      125
Red                                         112
Green                                       101
Multicolor                                   94
Gold                                         68
Pink                                         57
Orange                                       48
Yellow                                       46
Other                                        23
Clear                                        20
Brass                                        18
Purple                                       16
Off-White                                    15
Grey                                          9
Dark Brown                                    8
Tan                                           7
Natural                                       7
Bronze                                        6
Navy                                          6
Chestnut                                      6
Assorted                                      5
Sand                                          4
Hickory                                       4
Ivory                                         4
                                           ...
Turbulence/Glacier Gray                       1
Grey / Pink                                   1
Black/Black                                   1
White/Glacier Gray/Flame Scarlet              1
Natural Canvas                                1
Olive Drab                                    1
Game Royal/Black/White                        1
Light Brown                                   1
Flatgrey/Steel/Gravel                         1
Black/White Buffalo Check Wool                1
Amber Gold/True White                         1
Cream Leather                                 1
BLACK/BLACK                                   1
White Black and Gold                          1
Rspbrry Rd/Prpl Dynsty/Grn Glw                1
Silver ,�� NIGHT STADIUM/PR PLATINUM/VLT      1
Smokey Purple                                 1
Wolf Grey/Wolf Grey/Cool Grey                 1
White/Black/Legion Pine                       1
Navy/Gray                                     1
Mint Green Metallic                           1
Motor Red/Black/White                         1
Navy Geo                                      1
Black/Brown                                   1
Hot Pink                                      1
BlueCap/White/Rcr Blue/Bl Glw                 1
Blk/Mtllc Slvr/Anthrct/Flt Slv                1
Grey Black                                    1
Brown/Black                                   1
Silver Glitter                                1
Name: Color, Length: 350, dtype: int64

In [170]:
df["Brand"].value_counts()

Nike                          123
TOMS                           65
Brinley Co.                    53
Unique Bargains                52
Easy Spirit                    51
Bearpaw                        41
Allegra K                      41
PUMA                           41
Nine West                      41
VANS                           37
Marc Fisher                    35
Gameday Boots                  34
Alpine Swiss                   33
New Balance                    31
Calvin Klein                   31
Alfani                         31
Fitflop                        29
Bamboo                         28
Jordan                         27
Me Too                         27
Propet                         25
SummitFashions                 25
Style & Co.                    24
MICHAEL Michael Kors           22
MUK LUKS                       21
Dearfoams                      21
Reebok                         21
BareTraps                      19
Kenneth Cole Reaction          19
Kenneth Cole NY                19
                             ...
Journee Collection              1
Unbranded                       1
Avanti                          1
Juil                            1
Minnetonka Men                  1
Studio Ink                      1
Kenneth Cole Unlisted           1
City Classified                 1
Independent Boot Company        1
THEATRICALS DANCE FOOTWEAR      1
Nufoot                          1
Yoki                            1
IM Link                         1
The North Face                  1
Alegria Footwear                1
Grendene                        1
kate spade                      1
BLOWFISH                        1
Sm                              1
Vaneli Sport                    1
Restricted                      1
Andrew Geller                   1
OH!                             1
Naya                            1
Gianvito Rossi                  1
Bussola Style                   1
Vasque                          1
Anna                            1
Lila SureGrip                   1
Roma Costumes                   1
Name: Brand, Length: 688, dtype: int64

In [169]:
df["Gender"].value_counts()

Women     2068
Men        942
Unisex      72
Girls       17
Boys        13
Name: Gender, dtype: int64